{% extends 'base.html' %}
{% load static %}

{% block title %}{{ circuit.name }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
  <li class="breadcrumb-item"><a href="{% url 'formula:circuit_list' %}">Pistler</a></li>
  <li class="breadcrumb-item">{{ circuit.name }}</li>
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block content %}
  <ul>
    <li>Ad: {{ circuit.name }}</li>
    <li>Konum: {{ circuit.location }}</li>
    <li>Ülke: <i class="{{ circuit.country.flag_css }}"></i> {{ circuit.country.name }}</li>
    <li>Enlem: {{ circuit.latitude }}</li>
    <li>Boylam: {{ circuit.longitude }}</li>
    <li><a href="{{ circuit.url }}">Vikipedi</a></li>
  </ul>

{% endblock %}
