{% extends 'base.html' %}
{% load static fantasy_tags %}

{% block title %}{{ driver.name }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
  <li class="breadcrumb-item"><a href="{% url 'formula:all_driver_list' %}">Sürücüler</a></li>
  <li class="breadcrumb-item">{{ driver.name }}</li>
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <!-- Driver Name as Header -->
    <h3 class="text-center">{{ driver.name }}</h3>

    <!-- Three Column Layout -->
    <div class="row my-4">
        <!-- Column 1: Basic Information -->
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><strong>Numara:</strong> {{ driver.number|default_if_none:"" }}</li>
                <li><strong>Ülke:</strong> <i class="{{ driver.country.flag_css }}"></i> {{ driver.country.name }}</li>
                <li><strong>Kısaltma:</strong> {{ driver.code|default_if_none:"" }}</li>
                <li><strong>Doğum Tarihi:</strong> {{ driver.dob }}</li>
            </ul>
        </div>

        <!-- Column 2: Race Statistics -->
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><a href="{% url 'formula:driver_results' driver.slug %}">{{ total_races }} yarış</a></li>
                <li><a href="{% url 'formula:driver_wins' driver.slug %}">{{ win }} galibiyet</a></li>
                <li><a href="{% url 'formula:driver_poles' driver.slug %}">{{ pole }} pol pozisyonu</a></li>
                <li><a href="{% url 'formula:driver_flaps' driver.slug %}">{{ flap }} en hızlı tur</a></li>
                <li><a href="{% url 'formula:driver_hattricks' driver.slug %}">{{ hattrick }} hat-trick</a></li>
            </ul>
        </div>

        <!-- Column 3: Podiums and Other Stats -->
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><a href="{% url 'formula:driver_podiums' driver.slug %}">{{ podium }} podyum</a></li>
                <li>{{ not_classified }} klasman dışı</li>
                <li><strong>İlk yarış:</strong> <a href="{{ first_race.get_absolute_url }}">{{ first_race }}</a></li>
                <li><strong>Son yarış:</strong> <a href="{{ last_race.get_absolute_url }}">{{ last_race }}</a></li>
            </ul>
        </div>
    </div>
</div>
<table id="driver_results"
           class="table table-responsive table-hover table-striped table-sm d-block d-lg-table text-center">
        <thead class="thead-inverse">
        <tr>
            <th>Sıra</th>
            {% for _ in positions %}
                <th>{{ forloop.counter }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tr>
            <td><b>Grid</b></td>
            {% for grid_count in grid_list %}
                <td>{{ grid_count|default_if_none:"" }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td><b>Yarış</b></td>
            {% for result_count in result_list %}
                <td>{{ result_count|default_if_none:"" }}</td>
            {% endfor %}
        </tr>
    </table>
 <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        {% for tab_id, title in tabs.items %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab"
                   href="#{{ tab_id }}">{{ title }}</a>
            </li>
        {% endfor %}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        {% for tab_id in tabs %}
            <div class="tab-pane {% if forloop.first %}show active{% else %}fade{% endif %}"
                 id="{{ tab_id }}">

                <br/>
                <table id="results_by_year_{{ tab_id }}"
                       class="table table-bordered table-responsive table-sm d-block d-lg-table">
                    <thead class="thead-inverse">
                    <tr>
                        <th class="text-center">Şampiyona</th>
                        {% for _ in race_range %}
                            <th class="text-center">{{ forloop.counter }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    {% for championship, results_by_year in race_results_dict.items %}
                        <tr>
                            <td class="text-center"><b><a
                                href="{{ championship.get_absolute_url }}">{{ championship.short_str|upper}}</a></b></td>
                            {% for race_driver in results_by_year %}
                                <td class="text-center">
                                    {{ race_driver|call_or_get_attr:tab_id|default_if_none:"-" }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>

        {% endfor %}
    </div>
{% endblock %}


{% block javascript %}
    <script>
        {% for tab_id in tabs %}
                $(document).ready(function () {
                    $("#results_by_year_{{ tab_id }} td:not(:first-child)").each(function () {
                        var data = $(this).text();
                        var data_int = parseInt(data);

                        if (data_int === 1) {
                            $(this).addClass('bg_winner');
                        } else if (data_int === 2) {
                            $(this).addClass('bg_second');
                        } else if (data_int === 3) {
                            $(this).addClass('bg_third');
                        } else if (4 <= data_int && data_int <= 10) {
                            $(this).addClass('bg_points');
                        } else if (data_int > 10) {
                            $(this).addClass('bg_classified');
                        }
                    });
                });
            {% endfor %}

    </script>

{% endblock %}
