{% extends 'base.html' %}
{% load form_tags widget_tweaks static %}

{% block title %}Alım Satım{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:season_list' championship.series %}">{{ championship.get_series_display }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:race_list' championship.series championship.year %}">{{ championship.year }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:team_list' championship.series championship.year %}">Fantasy Lig</a></li>
    <li class="breadcrumb-item">Alım Satım</li>
{% endblock %}

{% block content %}
    <h3>ALIM SATIM - <a href="{{ view.race.get_absolute_url }}">{{ view.race }}</a></h3>
    <ul>
        <li>Sadece alım satım yapacaksanız, taktik seçimi yapmanıza gerek yoktur. Taktik seçimi varsayılan olarak geçen
            yarıştaki seçiminiz olarak görünür.
        </li>
        <li>Sadece taktik seçimi yapacaksanız, alım satım yapmanıza gerek yoktur.</li>
        <li>Alım satım yaptıktan sonra tekrar değiştirmek istiyorsanız:
            <ul>
                <li>Değişiklikleriniz geçen yarışın kadrosu, bütçesi ve hakları üzerinden tekrar yapılacaktır,
                    değiştirdiğiniz kadronuz üzerinden değil
                </li>
                <li>Yeni alım satımınızla önceki alım satımınız silinecektir</li>
                <li>Yeni alım satımınızı iptal ederseniz önceki alım satım işleminiz hala geçerli olacaktır</li>
            </ul>
        </li>
        <li>"Ben kadromda değişiklik yaptım ama geri almak istiyorum?"
            <ul>
                <li>Geçen yarışki kadronuza geri dönmek için boş form gönderin</li>
                <li>İki farklı alım satımı arka arkaya yaptıysanız 1.'ye geri dönemezsiniz, tekrar kurun o kadroyu bir
                    zahmet
                </li>
            </ul>
        </li>
        <li>İşlemlerinizi <b>{{ view.race.fp1_datetime|default_if_none:"???" }}</b> tarihine kadar yapabilirsiniz.</li>
    </ul>
    <img src="{{ championship.price_img.url }}" width="410px" height="480px"
         alt="Fantasy fiyatlar">
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Gönder</button>
        <button type="reset" class="btn btn-primary mx-2" id="deselect">Değişiklikleri Geri Al</button>
        <button type="button" onclick='location.href="{{ view.get_success_url }}"' class="btn btn-danger">İptal Et
        </button>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            let initial_budget = $('#id_budget').val();
            let initial_token = $('#id_token').val();
            $('#id_to_sell, #id_to_buy').removeClass('form-control');

            function sumit() {
                let budget = initial_budget;
                let token = initial_token;
                let sum = 0;
                $('input[name="to_sell"]:checked').each(function () {
                    sum -= parseFloat($(this).attr("price"));
                    token -= 1;
                });
                $('input[name="to_buy"]:checked').each(function () {
                    sum += parseFloat($(this).attr("discounted_price"));
                    token -= 1;
                });
                budget = Math.round((budget - sum + Number.EPSILON) * 10) / 10;
                $('#id_budget').val(budget);
                $('#id_token').val(token);
            }

            sumit();

            $('#id_to_sell, #id_to_buy').change(function () {
                sumit();
            });
        });
    </script>
{% endblock %}
