{% extends 'base.html' %}
{% load form_tags widget_tweaks static fantasy_tags %}

{% block title %}Alım Satım{% endblock %}

{% block stylesheet %}
<style>
  #table_prices th, #table_prices td {
    min-width: 120px;
  }
  table tr, table th, table td {
  line-height: 1.1;    /* reduces vertical spacing inside cells */
}
  #table_prices {
  border-collapse: collapse;
}
  /* Optionally, set different widths for each column */
  #table_prices th:nth-child(1), #table_prices td:nth-child(1) { min-width: 160px; }
  #table_prices th:nth-child(2), #table_prices td:nth-child(2) { min-width: 90px; }
  #table_prices th:nth-child(3), #table_prices td:nth-child(3) { min-width: 80px; }
  #table_prices th:nth-child(4), #table_prices td:nth-child(4) { min-width: 90px; }
</style>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:season_list' championship.series %}">{{ championship.get_series_display }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:race_list' championship.series championship.year %}">{{ championship.year }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:team_list' championship.series championship.year %}">Fantasy Lig</a></li>
    <li class="breadcrumb-item">Alım Satım</li>
{% endblock %}

{% block content %}
    <h3>ALIM SATIM - <a href="{{ view.race.get_fantasy_url }}">{{ view.race }}</a></h3>
    <ul>
        <li>Sadece alım satım yapacaksanız, taktik seçimi yapmanıza gerek yoktur. Taktik seçimi varsayılan olarak geçen
            yarıştaki seçiminiz olarak görünür.
        </li>
        <li>Sadece taktik seçimi yapacaksanız, alım satım yapmanıza gerek yoktur.</li>
        <li>Alım satım yaptıktan sonra tekrar değiştirmek istiyorsanız:
            <ul>
                <li>Değişiklikleriniz geçen yarışın kadrosu, bütçesi ve hakları üzerinden tekrar yapılacaktır,
                    değiştirdiğiniz kadronuz üzerinden değil
                </li>
                <li>Yeni alım satımınızla önceki alım satımınız silinecektir</li>
                <li>Yeni alım satımınızı iptal ederseniz önceki alım satım işleminiz hala geçerli olacaktır</li>
            </ul>
        </li>
        <li>"Ben kadromda değişiklik yaptım ama geri almak istiyorum?"
            <ul>
                <li>Geçen yarışki kadronuza geri dönmek için boş form gönderin</li>
                <li>İki farklı alım satımı arka arkaya yaptıysanız 1.'ye geri dönemezsiniz, tekrar kurun o kadroyu bir
                    zahmet
                </li>
            </ul>
        </li>
        <li>İşlemlerinizi <b>{{ view.race.fp1_datetime|default_if_none:"???" }}</b> tarihine kadar yapabilirsiniz.</li>
    </ul>
    <ul>
        <li>Alım satımlarımız önceki yarışın kadro, hak ve bütçesine göre yapıldığı için formda önceki haftaki kadronuzu görürsünüz.</li>
        <li>Bir haftada birden fazla alım satım yaptığınızda bu durum kafanızı karıştırmasın. Sistemde kayıtlı kadronuz aşağıdaki gibidir.</li>
        <li>Herhangi bir ek işlem yapmadığınızda aşağıdaki kadro geçerli olacaktır.</li>
        <li><b>Taktik: </b>{{ object.get_tactic_display }}</li>
        <li><b>Kalan Hak: </b>{{ object.token }}</li>
        <li><b>Bütçe: </b>{{ object.budget }}</li>
        <li><b>Kadro: </b>{% for rd in object.race_drivers.all %}{{ rd.driver.surname }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
    </ul>
    <div class=table-responsive>
        <table id="table_prices"
               class="table table-sm table-borderless d-block hover cell-border order-column justify-content-center text-center text-nowrap">
        <thead class="thead-inverse">
        <tr style="border: #0c0c0c">
            <th>Sürücü</th>
            <th>Fiyat</th>
            <th>Fark</th>
            <th>Tanzim</th>
        </tr>
    </thead>
    <tbody>
        {% for race_driver in driver_table %}
        <tr class="fw-bold">
            <td style="background-color: {{ race_driver.bgcolor }}; color: {{ race_driver.fontcolor }}">
                <a style="color: {{ race_driver.fontcolor }}" href="{% url 'formula:driver_detail' race_driver.driver.slug %}"><b>{{ race_driver.driver }}</b></a>
            </td>
            <td style="background-color: {{ race_driver.bgcolor }}; color: {{ race_driver.fontcolor }}">
                {{ race_driver.price|with_currency }}
            </td>
            <td
              {% if race_driver.has_prev %}
                {% if race_driver.price_diff > 0 %}
                  style="background-color: #28a745; color: #fff;"
                {% elif race_driver.price_diff < 0 %}
                  style="background-color: #dc3545; color: #fff;"
                {% else %}
                  style="background-color: #fff; color: #000;"
                {% endif %}
              {% else %}
                style="background-color: #fff; color: #000;"
              {% endif %}
            >
              {% if race_driver.has_prev %}
                {{ race_driver.price_diff|with_currency }}
              {% else %}
                N/A
              {% endif %}
            </td>
            <td style="background-color: {{ race_driver.bgcolor }}; color: {{ race_driver.fontcolor }}">
                {% if race_driver.discount %}
                    {{ race_driver.discounted_price|with_currency }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
   <tr>
            <td colspan="4" class="text-center" style="background-color: #980000; color: #fff"><b>BÜTÇE: {{ STARTING_BUDGET|with_currency }}</b></td>
        </tr>
    </tfoot>
</table>
    </div>

    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Gönder</button>
        <button type="reset" class="btn btn-primary mx-2" id="deselect">Değişiklikleri Geri Al</button>
        <button type="button" onclick='location.href="{{ view.get_success_url }}"' class="btn btn-danger">İptal Et
        </button>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            let initial_budget = $('#id_budget').val();
            let initial_token = $('#id_token').val();
            $('input[name="to_sell"]').each(function () {
                $(this).attr("class", "")
            });
            $('input[name="to_buy"]').each(function () {
                $(this).attr("class", "")
            });
            $('#id_to_sell, #id_to_buy').removeClass('form-control');

            function sumit() {
                let budget = initial_budget;
                let token = initial_token;
                let sum = 0;
                $('input[name="to_sell"]:checked').each(function () {
                    sum -= parseFloat($(this).attr("price"));
                    token -= 1;
                });
                $('input[name="to_buy"]:checked').each(function () {
                    sum += parseFloat($(this).attr("discounted_price"));
                    token -= 1;
                });
                budget = Math.round((budget - sum + Number.EPSILON) * 10) / 10;
                $('#id_budget').val(budget);
                $('#id_token').val(token);
            }

            sumit();

            $('#id_to_sell, #id_to_buy').change(function () {
                sumit();
            });
        });
    </script>
{% endblock %}
