<!-- RACE SELECTOR FROM/TO -->
<div class="my-4{% if request.device.is_mobile %} small{% endif %}">
    <form method="get" action="{{ request.path }}" class="d-flex flex-row align-items-center">
        <label for="fromRound" class="me-2">İlk:</label>
        <select id="fromRound" name="from_round" class="form-select w-auto me-3">
            {% for race in race_list %}
                <option value="{{ race.round }}" {% if race.round == view.start_race.round %}selected{% endif %}>{{ race.round }} - {{ race.name }}</option>
            {% endfor %}
        </select>

        <label for="toRound" class="me-2">Son:</label>
        <select id="toRound" name="to_round" class="form-select w-auto me-3">
            {% for race in race_list %}
                <option value="{{ race.round }}" {% if race.round == view.end_race.round %}selected{% endif %}>{{ race.round }} - {{ race.name }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary me-2">Süz</button>
        <a href="{{ request.path }}" class="btn btn-secondary">Sıfırla</a>
    </form>
    <small class="text-muted">
        Belli yarış aralıklarındaki istatistikleri burdan seçebilirsiniz ya da bütün sezonu görmek için süzgeci sıfırlayabilirsiniz.
    </small>
</div>
