{% extends 'base.html' %}
{% load static %}

{% block title %}{{ view.championship }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:season_list' view.championship.series %}">{{ view.championship.get_series_display }}</a></li>
    <li class="breadcrumb-item">{{ view.championship.year }}</li>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
	<style>
        table.dataTable.no-footer {
            border-bottom: none !important;
        }
	</style>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between my-4">
        <a class="btn btn-outline-primary {% if not view.championship.previous %}disabled{% endif %}" href="{{ view.championship.previous.get_absolute_url }}">&larr; {{ view.championship.previous.short_str|upper|default_if_none:"" }}</a>
        <h3 class="text-center">{{ view.championship }}</h3>
        <a class="btn btn-outline-primary {% if not view.championship.next %}disabled{% endif %}" href="{{ view.championship.next.get_absolute_url }}">{{ view.championship.next.short_str|upper|default_if_none:"" }} &rarr;</a>
    </div>


  <div class="d-flex gap-2 mb-4" role="toolbar" aria-label="Toolbar with button groups">
        <button id="print_button" class="btn btn-primary {% if request.device.is_mobile %}btn-sm{% endif %}"><i class="fa-solid fa-print"></i> Takvimi Yazdır</button>
		<a href="{% url 'formula:season_stats' view.championship.series view.championship.year %}"
			   class="btn btn-outline-primary {% if request.device.is_mobile %}btn-sm{% endif %}"><i class="fa-solid fa-chart-simple"></i> Sezon İstatistikleri</a>
        {% if view.championship.is_fantasy %}
            <a href="{% url 'formula:team_list' view.championship.series view.championship.year %}"
               class="btn btn-outline-primary {% if request.device.is_mobile %}btn-sm{% endif %}"><i class="fa-solid fa-hand-holding-dollar"></i> Fantasy Lig</a>
        {% endif %}
        {% if view.championship.is_tahmin %}
            <a href="{% url 'formula:tahmin:team_list' view.championship.series view.championship.year %}"
               class="btn btn-outline-primary {% if request.device.is_mobile %}btn-sm{% endif %}"><i class="fa-solid fa-list-ol"></i> Tahmin Ligi</a>
        {% endif %}
        {% if view.championship.is_season_predictions %}
            <a href="{% url 'season_predictions:prediction-list' view.championship.series view.championship.year %}"
               class="btn btn-outline-primary {% if request.device.is_mobile %}btn-sm{% endif %}"><i
                class="fa-solid fa-list-ol"></i> Sezon Tahminleri</a>
        {% endif %}
		{% if view.championship.is_puanla %}
            <a href="{% url 'ratings:season_ratings' view.championship.series view.championship.year %}"
			   class="btn btn-outline-primary {% if request.device.is_mobile %}btn-sm{% endif %}"><i class="fa-regular fa-star-half-stroke"></i> Yarışı Puanla</a>
        {% endif %}

  </div>
  <div class="table-responsive">
    <table id="table_race_list" class="table table-borderless table-hover table-sm table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>Ayak</th>
            <th>Ad / Pist</th>
            <th>1. Antrenman</th>
            <th>2. Antrenman</th>
            <th>3. Antrenman</th>
            <th>Sprint Sıralama</th>
            <th>Sprint</th>
            <th>Sıralama</th>
            <th>Yarış</th>
            <th>Lig Sonuçları</th>
            <th>Puan</th>
        </tr>
        </thead>
        <tbody>
        {% for race in race_list %}
            <tr class="align-middle">
                <td>{{ race.round }}</td>
                <td><i class="{{ race.country.flag_css }}"></i> <a href="{{ race.get_absolute_url }}">{{ race.name }}</a> <br><i class="fa-solid fa-location-dot" aria-hidden="true"></i> <a href="{{ race.circuit.get_absolute_url }}">{{ race.circuit}}</a></td>
                <td>{{ race.fp1_datetime|date:"j F"}} <br> {{ race.fp1_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.fp2_datetime|date:"j F"}} <br> {{ race.fp2_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.fp3_datetime|date:"j F"}} <br> {{ race.fp3_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.sprint_shootout_datetime|date:"j F"}} <br> {{ race.sprint_shootout_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.sprint_datetime|date:"j F"}} <br> {{ race.sprint_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.quali_datetime|date:"j F"}} <br> {{ race.quali_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.datetime|date:"j F" }} <br> {{ race.datetime|date:"TIME_FORMAT" }}</td>
                <td>
                  {% if view.championship.is_fantasy %}
                  <a href="{{ race.get_fantasy_url }}"><i class="fa-solid fa-hand-holding-dollar"></i> Fantasy</a> <br>
                  {% endif %}
                  {% if view.championship.is_tahmin %}
                    <a href="{{ race.get_tahmin_url }}"><i class="fa-solid fa-list-ol"></i> Tahmin</a>
                  {% endif %}
                </td>
              <td><a href="{% url 'ratings:season_ratings' view.championship.series view.championship.year %}"><i class="fa-regular fa-star-half-stroke"></i>{{ race.rating_instance.score|default_if_none:'' }} <br> ({{ race.rating_instance.amount|default_if_none:'' }})</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function () {
            $("#table_race_list").DataTable(
                {
                    language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
                    },
                    paging: false,
                    "order": [],
                    "searching": false,
                    "info": false,
                    columnDefs: [
                        {
                          className: "dt-center",
                          targets: "_all"
                        },
                        {
                            orderable: false,
                            targets: [1, 2, 3, 4, 5, 6, 7, 8, 9],
                        }
                    ]
                }
            );
        });

$(document).ready(function() {
  // Function to print the table
  function printTable() {
    var $table = $("#table_race_list").clone();

    // Remove last two columns from the table header and body
    $table.find("thead th:nth-last-child(-n+2), tbody td:nth-last-child(-n+2)").remove();
    // $table.find("thead th:last-child, tbody td:last-child").remove();

    // Create a new hidden iframe to print the table
    var $iframe = $("<iframe>").css("display", "none").appendTo("body");
    var iframeDocument = $iframe[0].contentWindow.document;

    // Write the table HTML to the iframe document
    iframeDocument.write("<html><head><title>{{ view.championship }} Yarış Takvimi • Formula 1 Türkiye</title>");

    // Loop through all linked stylesheets and include them in the iframe
    $("link[rel='stylesheet']").each(function() {
      iframeDocument.write($(this)[0].outerHTML);
    });

    iframeDocument.write("</head><body>");
    var championshipHeader = "<h1 class='text-center my-5'>{{ view.championship }} Yarış Takvimi • Formula 1 Türkiye</h1>";
    iframeDocument.write(championshipHeader);
    iframeDocument.write($table[0].outerHTML);
    iframeDocument.write("</body></html>");
    iframeDocument.close();

    // Print the iframe content after a short delay to ensure rendering
    setTimeout(function() {
      $iframe[0].contentWindow.print();

      // Remove the iframe after printing
      setTimeout(function() {
        $iframe.remove();
      }, 1000); // Timeout to ensure printing completes before removing the iframe
    }, 500); // Short delay before printing to ensure rendering
  }

  // Click event handler for the print button
  $("#print_button").on("click", function() {
    printTable();
  });
});
    </script>

{% endblock %}
