{% extends 'base.html' %}

{% block title %}{{ series }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item">{{ series }}</li>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-borderless text-center">
        <tbody>
            {% for decade, championships in object_list.items %}
                <tr>
                {% for championship in championships %}
                        <td>
                            <a href="{% url 'formula:race_list' championship.series championship.year %}">
                                {{ championship.year }}
                            </a>
                        </td>
                {% endfor %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
