{% extends 'base.html' %}
{% load static fantasy_tags %}

{% block title %}{{ view.championship.short_str|upper }} Sezon İstatistikleri{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:season_list' view.championship.series %}">{{ championship.get_series_display }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:race_list' championship.series championship.year %}">{{ championship.year }}</a></li>
    <li class="breadcrumb-item">Sezon İstatistikleri</li>
{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between my-4">
        <a class="btn btn-outline-primary {% if not view.championship.previous %}disabled{% endif %}" href="{% if not view.championship.previous %}#{% else %}{% url 'formula:season_stats' view.championship.series view.championship.previous.year %}{% endif %}">&larr; {{ view.championship.previous.short_str|upper|default_if_none:"" }}</a>
        <h3 class="text-center">{{ view.championship.short_str|upper }} Sezon İstatistikleri</h3>
        <a class="btn btn-outline-primary {% if not view.championship.next %}disabled{% endif %}" href="{% if not view.championship.next %}#{% else %}{% url 'formula:season_stats' view.championship.series view.championship.next.year %}{% endif %}">{{ view.championship.next.short_str|upper|default_if_none:"" }} &rarr;</a>
    </div>

    <div class="btn-toolbar my-4" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-4" role="group" aria-label="Menu Group Tahmin">
            <a href="{% url 'formula:season_supergrid' championship.series championship.year %}"
               class="btn btn-outline-primary">Süpergrid</a>
            <a href="{% url 'formula:season_quali_h2h' championship.series championship.year %}"
               class="btn btn-outline-primary">Sıralama Karşılaştırmaları</a>
        </div>
    </div>

    <div class="my-4{% if request.device.is_mobile %} small{% endif %}">
    <form method="get" action="{{ request.path }}" class="form-inline">
      <label for="fromRound" class="mr-2">İlk:</label>
      <select id="fromRound" name="from_round" class="custom-select mr-3">
        {% for race in race_list %}
          <option value="{{ race.round }}" {% if race.round == view.start_race.round %}selected{% endif %}>{{ race.round }} - {{ race.name }}</option>
        {% endfor %}
      </select>

      <label for="toRound" class="mr-2">Son:</label>
      <select id="toRound" name="to_round" class="custom-select mr-3">
        {% for race in race_list %}
          <option value="{{ race.round }}" {% if race.round == view.end_race.round %}selected{% endif %}>{{ race.round }} - {{ race.name }}</option>
        {% endfor %}
      </select>

      <button type="submit" class="btn btn-primary mr-2">Süz</button>
      <a href="{{ request.path }}" class="btn btn-secondary">Sıfırla</a>
    </form>
      <small class="text-muted">
        Belli yarış aralıklarındaki istatistikleri burdan seçebilirsiniz ya da bütün sezonu görmek için süzgeci sıfırlayabilirsiniz.
      </small>
    </div>

{% if request.device.is_mobile %}
<div class="card-group mb-4 small">
{% else %}
<div class="card-deck mb-4">
{% endif %}
    <!-- Winners Card -->
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white text-center font-weight-bold">
            Galibiyet
        </div>
        <div class="card-body p-2">
            <ul class="list-unstyled mb-0">
                {% for winner in winners %}
                    <li class="small d-flex justify-content-between">
                        <a href="{{ winner.get_absolute_url }}">
                            {{ winner }}
                        </a>
                        <span>{{ winner.win_count }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Pole Sitters Card -->
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white text-center font-weight-bold">
            Pol Pozisyonu
        </div>
        <div class="card-body p-2">
            <ul class="list-unstyled mb-0">
                {% for pole_sitter in pole_sitters %}
                    <li class="small d-flex justify-content-between">
                        <a href="{{ pole_sitter.get_absolute_url }}">
                            {{ pole_sitter }}
                        </a>
                        <span>{{ pole_sitter.win_count }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Fastest Laps Card -->
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white text-center font-weight-bold">
            En Hızlı Tur
        </div>
        <div class="card-body p-2">
            <ul class="list-unstyled mb-0">
                {% for fastest_lap in fastest_laps %}
                    <li class="small d-flex justify-content-between">
                        <a href="{{ fastest_lap.get_absolute_url }}">
                            {{ fastest_lap }}
                        </a>
                        <span>{{ fastest_lap.win_count }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Podium Holders Card -->
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white text-center font-weight-bold">
            Podyum
        </div>
        <div class="card-body p-2">
            <ul class="list-unstyled mb-0">
                {% for podium_holder in podium_holders %}
                    <li class="small d-flex justify-content-between">
                        <a href="{{ podium_holder.get_absolute_url }}">
                            {{ podium_holder }}
                        </a>
                        <span>{{ podium_holder.win_count }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
<!-- Sprint Winners Card -->
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white text-center font-weight-bold">
            Sprint{% if not request.device.is_mobile %} Galibiyeti{% endif %}
        </div>
        <div class="card-body p-2">
            <ul class="list-unstyled mb-0">
                {% for winner in sprint_winners %}
                    <li class="small d-flex justify-content-between">
                        <a href="{{ winner.get_absolute_url }}">
                            {{ winner }}
                        </a>
                        <span>{{ winner.win_count }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        {% for tab_id, title in tabs.items %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab"
                   href="#{{ tab_id }}">{{ title }}</a>
            </li>
        {% endfor %}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        {% for tab_id in tabs %}
            <div class="tab-pane {% if forloop.first %}show active{% else %}fade{% endif %}"
                 id="{{ tab_id }}">

                <br/>
                <table id="table_{{ tab_id }}"
                       class="table table-responsive compact small stripe hover cell-border order-column justify-content-center text-center text-nowrap">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Sürücü</th>
                        {% if tab_id in 'qualy,grid,results,grid_sprint,sprint' %}
                            <th>Ortalama</th>
                        {% else %}
                            <th>Toplam</th>
                        {% endif %}
                        {% for race in race_list %}
                            <th>
                                <a href="{{ race.get_absolute_url }}"><i class="{{ race.country.flag_css }}"></i></a>
                            </th>
                        {% endfor %}

                    </tr>
                    </thead>
                    <tbody>
                        {% for driver, race_driver_list in race_driver_dict.items %}
                            <tr>
                                {% with race_driver_list.0 as rd %}
                                <td style="background-color: {{ rd.championship_constructor.bgcolor }}; color: {{ rd.championship_constructor.fontcolor }}">
                                    <a style="color: {{ rd.championship_constructor.fontcolor }}" href="{% url 'formula:driver_detail' driver.slug %}"><b>{{ driver.name }}</b></a>
                                </td>
                                {% endwith %}
                                    <td></td>

                                {% for race_driver in race_driver_list %}
                                    <td>
                                            {{ race_driver|call_or_get_attr:tab_id|default_if_none:"-" }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
            </div>

        {% endfor %}
    </div>

{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function () {
        // Get the select elements
        const fromRoundSelect = document.getElementById('fromRound');
        const toRoundSelect = document.getElementById('toRound');

       // Function to filter 'to_round' options based on the selected 'from_round'
        function filterToRoundOptions() {
            const fromRoundValue = parseInt(fromRoundSelect.value, 10);

            let selectedToRoundValue = parseInt(toRoundSelect.value, 10);
            let firstValidOptionValue = null;

            // Loop through each option in the 'to_round' dropdown
            Array.from(toRoundSelect.options).forEach(option => {
                const toRoundValue = parseInt(option.value, 10);

                if (toRoundValue < fromRoundValue) {
                    option.style.display = 'none'; // Hide options with value less than from_round
                } else {
                    option.style.display = 'block'; // Show options with value greater or equal to from_round

                    // Set the first valid option (that is greater than or equal to from_round)
                    if (!firstValidOptionValue) {
                        firstValidOptionValue = toRoundValue;
                    }
                }

                // If the selected value is hidden, clear the selection
                if (selectedToRoundValue === toRoundValue && option.style.display === 'none') {
                    toRoundSelect.value = firstValidOptionValue; // Reset to the first valid option
                }
            });
        }

        // Initial filtering when the page loads
        filterToRoundOptions();

        // Add an event listener to update 'to_round' options when 'from_round' changes
        fromRoundSelect.addEventListener('change', filterToRoundOptions);
            {% for tab_id in tabs %}
                $("#table_{{ tab_id }}").DataTable(
                    {
                        language: {
                            "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
                        },
                        paging: false,
                        "info": false,
						searching: false,
						columnDefs: [
							{
								className: "dt-center",
								targets: "_all"
							},
							{
								render: function (data, type, row) {
									let result = 0;
									let num;
									let nan_count = 0;
									for (let i = 2; i < row.length; i++) {
										num = parseInt(row[i]);
										if (isNaN(num)) {
											num = 0;
											nan_count += 1;
										}
										result += num;
									}
									{% if tab_id in 'qualy,grid,results,grid_sprint,sprint' %}
										result /= row.length - 2 - nan_count;
										result = isNaN(result) ? 22 : result;
									{% endif %}

									return "<b>" + result.toFixed(1) + "</b>";
								},
								targets: 1,
							},
							{% if tab_id in 'qualy,grid,results,grid_sprint,sprint' %}
							{
								targets: "_all",

								render: function (data, type, row, meta) {
									var table = $('#table_{{ tab_id}}').dataTable().api();
									if (type === 'display') {
										var node = table.cell(meta.row, meta.col).nodes().to$();
										var data_int = parseInt(data);
										if (data_int === 1) {
											node.addClass('bg_winner');
										} else if (data_int === 2) {
											node.addClass('bg_second');
										} else if (data_int === 3) {
											node.addClass('bg_third');
										} else if (4 <= data_int && data_int <= 10) {
											node.addClass('bg_points');
										} else if (data_int > 10) {
											node.addClass('bg_classified');
										}
									}
									return data;
								}
							}
							{% endif %}
						],
						{% if tab_id in 'qualy,grid,results,grid_sprint,sprint' %}
							"order": [[1, 'asc']],
						{% else %}
							"order": [[1, 'desc']],
						{% endif %}
                    }
                );
                {% if tab_id in 'qualy,grid,results,grid_sprint,sprint' %}
                {% else %}
                    $("#table_{{ tab_id }} tbody td").not(":nth-child(1),:nth-child(2), :empty").colorize();
                {% endif %}

            {% endfor %}
        });

    </script>

{% endblock %}
