{% extends 'base.html' %}

{% block title %}Sürücü İstatistikleri{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:season_list' view.series %}">{{ view.series_display }}</a></li>
    <li class="breadcrumb-item">İstatistikler</li>
{% endblock %}

{% block content %}
    <ul>
		<li><a href="{% url "formula:stats_drivers" view.series %}" class="card-link">Sürücü İstatistikleri</a></li>
	</ul>
{% endblock %}
