{% extends 'base.html' %}

{% block title %}Galibiyet İstatistikleri{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="#">İstatistikler</a></li>
    <li class="breadcrumb-item">En Çok Galibiyet</li>
{% endblock %}

{% block content %}
    <table id="driver_results"
         class="table table-responsive compact small stripe hover cell-border order-column justify-content-center text-center text-nowrap">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Sürücü</th>
            <th>Galibiyet</th>
        </tr>
        </thead>
        <tbody>
        {% for driver in driver_list %}
            <tr>
                <td></td>
                <td><a href="{{ driver.get_absolute_url }}">{{ driver.name }}</a></td>
                <td>{{ driver.win_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block javascript %}
    <script>

        $(document).ready(function () {
            var datatable = $("#driver_results").DataTable(
                {
                    language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
                    },
                    paging: false,
                    "order": [],
                    "info": false,
                    columnDefs: [
                        {
                            className: "dt-center",
                            orderable: false,
                            targets: "_all"
                        }
                    ]
                }
            );
            datatable.on('init.dt', function () {
                let i = 1;
                datatable.cells(null, 0, {search: 'applied'}).every(function (cell) {
                    this.data("<b>" + i++ + "</b>");
                });
            }).draw();
        })

    </script>

{% endblock %}
