{% extends 'base.html' %}

{% block content %}
    {% block selection %}
        {% if request.device.is_mobile %}
        <div class="my-4 small">
            <form method="get" action="{{ request.path }}" class="d-flex flex-column align-items-start">
                <!-- First Row: ilk label, fromYear, fromRound, Süz button -->
                <div class="d-flex mb-1">

                    <!-- fromYear select -->
                    <div class="me-3">
                        <select id="fromYear" name="from_year" class="form-select form-select-sm w-auto">
                            {% for championship in view.championship_list %}
                                <option value="{{ championship.year }}"
                                        {% if championship.year == view.start_race.championship.year %}selected{% endif %}>
                                    {{ championship.year }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- fromRound select -->
                    <div class="me-3">
                        <select id="fromRound" name="from_round" class="form-select form-select-sm w-auto">
                            <option value="" disabled selected>Yarış seçiniz</option>
                            {% for race in view.race_list %}
                                <option value="{{ race.round }}" data-year="{{ race.championship.year }}"
                                    {% if race.round == view.start_race.round and race.championship.year == view.start_race.championship.year %}
                                        selected
                                    {% endif %}>
                                    {{ race.round }} - {{ race.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Sıfırla Button -->
                    <div>
                        <a href="{{ request.path }}" class="btn btn-sm btn-secondary">{{ 'Sıfırla' }}</a>
                    </div>
                </div>

                <!-- Second Row: son label, toYear, toRound, Sıfırla button -->
                <div class="d-flex mb-1">
                    <!-- toYear select -->
                    <div class="me-3">
                        <select id="toYear" name="to_year" class="form-select form-select-sm w-auto">
                            {% for championship in view.championship_list %}
                                <option value="{{ championship.year }}"
                                        {% if championship.year == view.end_race.championship.year %}selected{% endif %}>
                                    {{ championship.year }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- toRound select -->
                    <div class="me-3">
                        <select id="toRound" name="to_round" class="form-select form-select-sm w-auto">
                            <option value="" disabled selected>Yarış seçiniz</option>
                            {% for race in view.race_list %}
                                <option value="{{ race.round }}" data-year="{{ race.championship.year }}"
                                    {% if race.round == view.end_race.round and race.championship.year == view.end_race.championship.year %}
                                        selected
                                    {% endif %}>
                                    {{ race.round }} - {{ race.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Süz Button -->
                    <div>
                        <button type="submit" class="btn btn-sm btn-primary">{{ 'Süz' }}</button>
                    </div>
                </div>
            </form>

            <small class="text-muted">
                Belli yarış aralıklarındaki istatistikleri burdan seçebilirsiniz ya da bütün yarışları görmek için
                süzgeci
                sıfırlayabilirsiniz.
            </small>
        </div>
        {% else %}
        <div class="my-4">
            <form method="get" action="{{ request.path }}" class="d-flex flex-row align-items-center">
                <label for="fromYear" class="me-2">İlk:</label>
                <select id="fromYear" name="from_year" class="form-select form-select-sm w-auto me-3">
                    {% for championship in view.championship_list %}
                        <option value="{{ championship.year }}"
                                {% if championship.year == view.start_race.championship.year %}selected{% endif %}>{{ championship.year }}</option>
                    {% endfor %}
                </select>
                <select id="fromRound" name="from_round" class="form-select form-select-sm w-auto me-3">
                    <option value="" disabled selected>Yarış seçiniz</option>
                    {% for race in view.race_list %}
                        <option value="{{ race.round }}" data-year="{{ race.championship.year }}"
                            {% if race.round == view.start_race.round and race.championship.year == view.start_race.championship.year %}
                                selected
                            {% endif %} >
                            {{ race.round }} - {{ race.name }}
                        </option>
                    {% endfor %}
                </select>

                <label for="toYear" class="me-2">Son:</label>
                <select id="toYear" name="to_year" class="form-select form-select-sm w-auto me-3">
                    {% for championship in view.championship_list %}
                        <option value="{{ championship.year }}"
                                {% if championship.year == view.end_race.championship.year %}selected{% endif %}>{{ championship.year }}</option>
                    {% endfor %}
                </select>
                <select id="toRound" name="to_round" class="form-select form-select-sm w-auto me-3">
                    <option value="" disabled selected>Yarış seçiniz</option>
                    {% for race in view.race_list %}
                        <option value="{{ race.round }}" data-year="{{ race.championship.year }}"
                            {% if race.round == view.end_race.round and race.championship.year == view.end_race.championship.year %}
                                selected
                            {% endif %} >
                            {{ race.round }} - {{ race.name }}
                        </option>
                    {% endfor %}
                </select>


                <button type="submit" class="btn btn-sm btn-primary me-2">Süz</button>
                <a href="{{ request.path }}" class="btn btn-sm btn-secondary">Sıfırla</a>
            </form>
            <small class="text-muted">
                Belli yarış aralıklarındaki istatistikleri burdan seçebilirsiniz ya da bütün yarışları görmek için süzgeci
                sıfırlayabilirsiniz.
            </small>
        </div>
        {% endif %}

        <p class="my-3">{{ view.start_race }} - {{ view.end_race }}</p>
    {% endblock %}

    {% block stats_table %}
    {% endblock %}
{% endblock %}


{% block javascript %}
    <script>

        $(document).ready(function () {
            // Get the select elements
            const fromYearSelect = document.getElementById('fromYear');
            const toYearSelect = document.getElementById('toYear');
            const fromRoundSelect = document.getElementById('fromRound');
            const toRoundSelect = document.getElementById('toRound');

            function selectVisibleOption(selectElement, first=false) {
                for (let i = 0; i < selectElement.options.length; i++) {
                    const option = selectElement.options[i];
                    if (option.style.display !== 'none') {
                        selectElement.selectedIndex = i;
                        if (first){
                            break;
                        }
                    }
                }
            }
            // Function to filter 'to_round' options based on the selected 'from_round'
            function filterToYearOptions() {
                const fromYearValue = parseInt(fromYearSelect.value, 10);

                let selectedToYearValue = parseInt(toYearSelect.value, 10);
                let firstValidOptionValue = null;

                // Loop through each option in the 'to_round' dropdown
                Array.from(toYearSelect.options).forEach(option => {
                    const toYearValue = parseInt(option.value, 10);

                    if (toYearValue < fromYearValue) {
                        option.style.display = 'none'; // Hide options with value less than from_round
                    } else {
                        option.style.display = 'block'; // Show options with value greater or equal to from_round

                        // Set the first valid option (that is greater than or equal to from_round)
                        if (!firstValidOptionValue) {
                            firstValidOptionValue = toYearValue;
                        }
                    }

                    // If the selected value is hidden, clear the selection
                    if (selectedToYearValue === toYearValue && option.style.display === 'none') {
                        selectVisibleOption(toYearSelect, false);
                    }
                });
            }
            // Function to filter 'to_round' options based on the selected 'from_round' and 'from_year'
            function filterToRoundOptions() {
                const fromYearValue = parseInt(fromYearSelect.value, 10);
                const fromRoundValue = parseInt(fromRoundSelect.value, 10);

                let selectedToRoundValue = parseInt(toRoundSelect.value, 10);

                // Loop through each option in the 'to_round' dropdown
                Array.from(toRoundSelect.options).forEach(option => {
                    const raceYear = parseInt(option.getAttribute('data-year'), 10);  // Extracting the year from the option text
                    const toRoundValue = parseInt(option.value, 10);

                    // If 'from_year' and 'to_year' are the same, filter based on 'from_round'
                    if (fromYearValue === parseInt(toYearSelect.value, 10)) {
                        // Hide 'to_round' options less than 'from_round' if the years are the same
                        if (toRoundValue < fromRoundValue) {
                            option.style.display = 'none'; // Hide options with value less than from_round
                        }
                        else if (raceYear != fromYearValue) {
                            option.style.display = 'none'; // Hide options with value less than from_round
                        }
                        else {
                            option.style.display = 'block'; // Show options with value greater or equal to from_round
                        }

                        // If the selected value is hidden, clear the selection
                        if (selectedToRoundValue === toRoundValue && raceYear == fromYearValue && option.style.display === 'none') {
                            selectVisibleOption(toRoundSelect, false); // Reset selection if the option is hidden
                        }
                    }
                });
            }

            // Function to filter 'from_round' and 'to_round' options based on the selected year
            function filterRoundsByYear(change, initialToYear, left=false, right=false) {
                const fromYearValue = parseInt(fromYearSelect.value, 10);
                const toYearValue = parseInt(toYearSelect.value, 10);

                let firstValidFromRound = null;
                let firstValidToRound = null;

                // Filter the 'fromRound' based on the selected fromYear
                Array.from(fromRoundSelect.options).forEach(option => {
                    const raceYear = parseInt(option.getAttribute('data-year'), 10);  // Extracting the year from the option text

                    if (raceYear === fromYearValue) {
                        option.style.display = 'block'; // Show rounds for the selected fromYear
                        // Set the first valid round for fromRound
                        if (!firstValidFromRound) {
                            firstValidFromRound = option.value;
                        }
                    } else {
                        option.style.display = 'none'; // Hide rounds for other years
                    }
                });

                // Filter the 'toRound' based on the selected toYear
                Array.from(toRoundSelect.options).forEach(option => {
                    const optionYear = parseInt(option.getAttribute('data-year'), 10);  // Extract the year from the option text

                    if (optionYear === toYearValue) {
                        option.style.display = 'block'; // Show rounds for the selected toYear
                        // Set the first valid round for toRound
                        if (!firstValidToRound) {
                            firstValidToRound = option.value;
                        }
                    } else {
                        option.style.display = 'none'; // Hide rounds for other years
                    }
                });
                if (change) {
                    if (left){
                        selectVisibleOption(fromRoundSelect, true);
                        if(fromYearValue > initialToYear){
                            selectVisibleOption(toRoundSelect, false);
                        }
                    }
                    else{
                        selectVisibleOption(toRoundSelect, false);
                    }
                }
            }
            // Initial filtering when the page loads
            initialToYear = toYearSelect.value;
            filterToYearOptions();
            filterRoundsByYear(false, initialToYear);
            filterToRoundOptions(); // Only filter to_round options when fromRound changes
            // Add an event listener to update 'to_round' options when 'from_round' changes
            fromYearSelect.addEventListener('change', function() {
                initialToYear = toYearSelect.value;
                filterToYearOptions(); // Update toYear options when fromYear changes
                filterRoundsByYear(true, initialToYear, left=true, right=false);
            });
            toYearSelect.addEventListener('change', function() {
                initialToYear = toYearSelect.value;
                filterToYearOptions(); // Update toYear options when fromYear changes
                filterRoundsByYear(true, initialToYear, left=false, right=true);
                filterToRoundOptions(); // Only filter to_round options when fromRound changes
            });
            fromRoundSelect.addEventListener('change', () => {
                filterToRoundOptions(); // Only filter to_round options when fromRound changes
            });

            var datatable = $("#driver_results").DataTable(
                {
                    language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
                    },
                    paging: false,
                    "order": [],
                    "info": false,
                    columnDefs: [
                        {
                            className: "dt-center",
                            orderable: false,
                            targets: "_all"
                        }
                    ]
                }
            );
            datatable.on('init.dt', function () {
                let i = 1;
                datatable.cells(null, 0, {search: 'applied'}).every(function (cell) {
                    this.data("<b>" + i++ + "</b>");
                });
            }).draw();
        })

    </script>

{% endblock %}
