{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'fantasy:home' %}">Fantasy Lig</a></li>
    <li class="breadcrumb-item active">{{ championship }}</li>
{% endblock %}

{% block content %}

<ul>
    <li><a href="{% url 'fantasy:race_list' championship.slug %}">{{ championship }} - Yarışlar </a></li>
    <li><a href="{% url 'fantasy:driver_list' championship.slug %}">{{ championship }} - Sürücüler </a></li>
    <li><a href="{% url 'fantasy:team_list' championship.slug %}">{{ championship }} - Takımlar </a></li>
</ul>

{% endblock %}