{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'fantasy:home' %}">Home</a></li>
  <li class="breadcrumb-item">Championships</li>
{% endblock %}

{% block content %}
  <h5>Championship List</h5>
  <ul>
    {% for championship in championship_list %}
      <li>
        <a href="{% url 'fantasy:championship_detail' championship.slug %}">
          {{ championship.year }} {{ championship.series }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
