{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'fantasy:home' %}">Fantasy League</a></li>
    <li class="breadcrumb-item"><a href="{% url 'fantasy:championship_list' %}">Championships</a></li>
    <li class="breadcrumb-item active">{{ championship }}</li>
{% endblock %}

{% block content %}

<ul>
    <li><a href="{% url 'fantasy:race_list' championship.slug %}">{{ championship }} - Races </a></li>
    <li><a href="{% url 'fantasy:season_driver_list' championship.slug %}">{{ championship }} - Drivers </a></li>
    <li><a href="{% url 'fantasy:team_list' championship.slug %}">{{ championship }} - Teams </a></li>
</ul>

{% endblock %}