{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'fantasy:home' %}">Fantasy League</a></li>
    <li class="breadcrumb-item"><a href="{% url 'fantasy:driver_list' %}">Drivers</a></li>
    <li class="breadcrumb-item">{{ driver }}</li>
{% endblock %}

{% block content %}

<li> Forename: {{ driver.forename }} </li>
<li> Surname: {{ driver.surname }} </li>
<li> Code: {{ driver.code }} </li>
<li> Number: {{ driver.number }} </li>
<li> Nationality: {{ driver.nationality }} </li>

{% endblock %}