{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'fantasy:home' %}">Fantasy Lig</a></li>
    <li class="breadcrumb-item">Sürücüler</li>
    <li class="breadcrumb-item">{{ driver }}</li>
{% endblock %}

{% block content %}

    <li> Ad: {{ driver.forename }} </li>
    <li> Soyad: {{ driver.surname }} </li>
    <li> Kod: {{ driver.code }} </li>
    <li> Numara: {{ driver.number }} </li>
    <li> Milliyet: {{ driver.nationality }} </li>

{% endblock %}
