{% extends 'base.html' %}
{% load fantasy_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'fantasy:home' %}">Fantasy Lig</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'fantasy:race_list' race.championship.slug %}">{{ race.championship }}</a></li>
    <li class="breadcrumb-item">{{ race.name }}</li>
{% endblock %}

{% block content %}
    {% if user.is_staff %}
        <a href="{% url 'fantasy:race_edit' race.championship.slug race.round %}" class="btn btn-primary ml-2">Sonuç / Fiyat Gir</a>
        <p></p>
    {% endif %}
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% for tab_id, title in tabs.items %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab"
                       href="#{{ tab_id }}">{{ title }}</a>
                </li>
            {% endfor %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {% for tab_id in tabs %}
                <div class="tab-pane container {% if forloop.first %}show active{% else %}fade{% endif %}"
                     id="{{ tab_id }}">

                    <br/>
                    <table id="table_{{ tab_id }}"
                           class="table table-bordered table-responsive small justify-content-center text-center text-nowrap">
                        <thead class="thead-inverse">
                        {% if tab_id == "drivers" %}
                            <tr>
                                <th>Sürücü</th>
                                <th>Sıralama</th>
                                <th>Sprint Grid</th>
                                <th>Sprint</th>
                                <th>Grid</th>
                                <th>Yarış</th>
                                <th>EHT</th>
                                <th>Geçiş Puanı</th>
                                <th>Sıralama Puanı</th>
                                <th>Yarış Puanı</th>
                                <th>Toplam Puan</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for race_driver in race_driver_list %}
                                <tr>
                                    <td>
                                        <a href="{{ race_driver.driver.get_absolute_url }}">{{ race_driver.driver }}</a>
                                        <small class="text-muted d-block">{{ race_driver.championship_constructor.constructor }}</small>
                                    </td>
                                    <td>{{ race_driver.qualy|default_if_none:"-" }}</td>
                                    <td>{{ race_driver.grid_sprint|default_if_none:"-" }}</td>
                                    <td>{{ race_driver.sprint|default_if_none:"-" }}</td>
                                    <td>{{ race_driver.grid|default_if_none:"-" }}</td>
                                    <td>{{ race_driver.result|default_if_none:"-" }}</td>
                                    <td>{{ race_driver.fastest_lap|default_if_none:"-" }}</td>
                                    <td>{{ race_driver.overtake_point }}</td>
                                    <td>{{ race_driver.qualy_point }}</td>
                                    <td>{{ race_driver.race_point }}</td>
                                    <td><b>{{ race_driver.total_point }}</b></td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <th>Taktik</th>
                                <th>Hak</th>
                                <th>Bütçe</th>
                                <th>Ad</th>
                                <th>Toplam</th>
                                {% for idx in "01234567" %}
                                    <th>{{ forloop.counter }}. Sürücü</th>
                                {% endfor %}
                                {% if tab_id == "teams" %}
                                    <th>Geçiş taktiği olsaydı</th>
                                    <th>Sıralama taktiği olsaydı</th>
                                    <th>Yarış taktiği olsaydı</th>
                                    <th>Taktiksiz olsaydı</th>
                                {% endif %}
                            </tr>

                            <tbody>
                            {% for race_team in race_team_list %}
                                <tr>
                                    <td>{{ race_team.tactic }}</td>
                                    <td>{{ race_team.token }}</td>
                                    <td>{{ race_team.budget|with_currency }}</td>
                                    <td><a href="{{ race_team.team.get_absolute_url }}">{{ race_team.team.name }}</a>
                                    </td>
                                    {% if tab_id == "teams" %}
                                        <td><b>{{ race_team.total_point }}</b></td>
                                    {% elif tab_id == "kadrolar" %}
                                        <td><b>{{ race_team.total_worth|with_currency }}</b></td>
                                    {% endif %}

                                    {% with race_team.raceteamdrivers.all as trd_list %}
                                        {% for idx in "01234567" %}
                                            {% with trd_list|index:forloop.counter0 as raceteamdriver %}
                                                <td>
                                                    {{ raceteamdriver.racedriver.driver.surname }}
                                                    <small class="text-muted d-block">
                                                        {% if tab_id == "teams" %}
                                                            {{ raceteamdriver.total_point }}
                                                        {% elif tab_id == "kadrolar" %}
                                                            {{ raceteamdriver.racedriver.price|with_currency }}
                                                        {% endif %}
                                                    </small>
                                                </td>
                                            {% endwith %}
                                        {% endfor %}
                                    {% endwith %}
                                    {% if tab_id == "teams" %}
                                        <td>{{ race_team.overtake_point }}</td>
                                        <td>{{ race_team.qualy_point }}</td>
                                        <td>{{ race_team.race_point }}</td>
                                        <td>{{ race_team.none_point }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function () {
            {% for tab_id in tabs %}
                $("#table_{{ tab_id }}").DataTable(
                    {
                        language: {
                            "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
                        },
                        paging: false,
                        "order": [[{% if tab_id == "drivers" %}10 {% else %} 4 {% endif %}, 'desc']],
                        "info": false
                    }
                );
            {% endfor %}
        });

    </script>

{% endblock %}
