{% extends 'base.html' %}
{% load fantasy_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'fantasy:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'fantasy:championship_list' %}">Championships</a></li>
    <li class="breadcrumb-item">
        <a href="{{ race.championship.get_absolute_url }}">{{ race.championship }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'fantasy:race_list' race.championship.slug %}">Races</a></li>
    <li class="breadcrumb-item">{{ race.name }}</li>
{% endblock %}

{% block content %}

    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#drivers">Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#teams">Team Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kadrolar">Kadrolar</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container show active" id="drivers">
                <br/>
                <table class="table table-bordered small justify-content-center text-center text-nowrap">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Driver</th>
                        <th>Price</th>
                        <th>Qualy</th>
                        <th>Grid</th>
                        <th>Result</th>
                        <th>Sprint</th>
                        <th>EHT</th>
                        <th>Over</th>
                        <th>Qual</th>
                        <th>Race</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for race_driver in race_driver_list %}
                        <tr>
                            <td>
                                <a href="{{ race_driver.driver.get_absolute_url }}">{{ race_driver.driver }}</a>
                            </td>
                            <td>
                                {{ race_driver.price }}₺
                            </td>
                            <td>
                                {{ race_driver.qualy|default_if_none:"-" }}
                            </td>
                            <td>
                                {{ race_driver.grid|default_if_none:"-" }}
                            </td>
                            <td>
                                {{ race_driver.result|default_if_none:"-" }}
                            </td>
                            <td>
                                {{ race_driver.sprint|default_if_none:"-" }}
                            </td>
                            <td>
                                {{ race_driver.fastest_lap|default_if_none:"-" }}
                            </td>
                            <td>
                                {{ race_driver.overtake_point }}
                            </td>
                            <td>
                                {{ race_driver.qualy_point }}
                            </td>
                            <td>
                                {{ race_driver.race_point }}
                            </td>
                            <td>
                                <b>{{ race_driver.total_point }}</b>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane container fade" id="teams">
                <br/>
                <table class="table table-bordered small justify-content-center text-center text-nowrap">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Tactic</th>
                        <th>Token</th>
                        <th>Budget</th>
                        <th>Name</th>
                        <th colspan="8">Drivers</th>
                        <th>Total</th>
                        <th>if overtake</th>
                        <th>if quali</th>
                        <th>if race</th>
                        <th>2018</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for race_team in race_team_list %}
                        <tr>
                            <td>{{ race_team.tactic }}</td>
                            <td>{{ race_team.token }}</td>
                            <td>{{ race_team.budget }}₺</td>
                            <td>{{ race_team.team.name }}</td>


                            {% with race_team.raceteamdrivers.all as trd_list %}
                                {% for idx in "01234567" %}
                                    {% with trd_list|index:forloop.counter0 as raceteamdriver  %}
                                    <td>
                                        {{ raceteamdriver.racedriver.driver.surname }}
                                        <small class="text-muted d-block">{{ raceteamdriver.total_point }}</small>
                                    </td>
                                    {% endwith %}
                                {% endfor %}
                            {% endwith %}

                            <td>{{ race_team.total_point }}</td>
                            <td>{{ race_team.overtake_point }}</td>
                            <td>{{ race_team.qualy_point }}</td>
                            <td>{{ race_team.race_point }}</td>
                            <td>{{ race_team.none_point }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
            <br/>
            <div class="tab-pane container fade" id="kadrolar">
                <table class="table table-bordered small justify-content-center text-center text-nowrap">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Tactic</th>
                        <th>Token</th>
                        <th>Budget</th>
                        <th>Name</th>
                        <th colspan="8">Drivers</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for race_team in race_team_list %}
                        <tr>
                            <td>{{ race_team.tactic }}</td>
                            <td>{{ race_team.token }}</td>
                            <td>{{ race_team.budget }}₺</td>
                            <td>{{ race_team.team.name }}</td>

                            {% with race_team.raceteamdrivers.all as trd_list %}
                                {% for idx in "01234567" %}
                                    {% with trd_list|index:forloop.counter0 as raceteamdriver  %}
                                    <td>
                                    {{ raceteamdriver.racedriver.driver.surname }}
                                    <small class="text-muted d-block">{{ raceteamdriver.racedriver.price_with_currency }}</small>
                                    </td>
                                    {% endwith %}
                                {% endfor %}
                            {% endwith %}

                            <td>{{ race_team.total_worth }}₺</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
