{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
<li class="breadcrumb-item"><a href="{% url 'fantasy:home' %}">Fantasy Lig</a></li>

    <li class="breadcrumb-item"><a href="{{ championship.get_absolute_url }}">{{ championship }}</a></li>
    <li class="breadcrumb-item">Yarışlar</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>Ayak</th>
          <th>Ad</th>
          <th>Pist</th>
          <th>Tarih</th>
      </tr>
    </thead>
    <tbody>
      {% for race in race_list %}
        <tr class="align-middle">
          <td>{{ race.round }}</td>
          <td><a href="{{ race.get_absolute_url }}">{{ race.name }}</a></td>
          <td>{{ race.circuit }}</td>
          <td>{{ race.datetime|default_if_none:"-" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}