{% extends 'base.html' %}
{% load fantasy_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
<li class="breadcrumb-item"><a href="{% url 'fantasy:home' %}">Fantasy Lig</a></li>

    <li class="breadcrumb-item"><a href="{{ team.championship.get_absolute_url }}">{{ team.championship }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'fantasy:team_list' team.championship.slug %}">Takımlar</a></li>
    <li class="breadcrumb-item">{{ team.name }}</li>
{% endblock %}

{% block content %}
    <table id="table_team_detail" class="table table-bordered table-responsive small justify-content-center text-center text-nowrap">
        <thead class="thead-inverse">
        <tr>
            <th>Ayak</th>
            <th>Yarış</th>
            <th>Taktik</th>
            <th>Hak</th>
            <th>Bütçe</th>
            {% for idx in "01234567" %}
            <th>Driver {{ forloop.counter }}</th>
            {% endfor %}
            <th>Toplam Puan</th>
            <th>Takım Değeri</th>
        </tr>
        </thead>
        <tbody>

        {% for race, race_team in race_team_dict.items %}
            <tr>
                <td>{{ race.round }}</td>
                <td><a href="{{ race.get_absolute_url }}">{{ race }}</a></td>
                <td>{{ race_team.tactic }}</td>
                <td>{{ race_team.token }}</td>
                <td>{{ race_team.budget|with_currency }}</td>
                {% with race_team.raceteamdrivers.all as trd_list %}
                    {% for idx in "01234567" %}
                        {% with trd_list|index:forloop.counter0 as raceteamdriver  %}
                        <td>
                            <a href="{{ raceteamdriver.racedriver.driver.get_absolute_url }}">{{ raceteamdriver.racedriver.driver.surname }}</a>
                            <small class="text-muted d-block">{{ raceteamdriver.total_point }}</small>
                            <small class="text-muted d-block">{{ raceteamdriver.racedriver.price|with_currency }}</small>
                        </td>
                        {% endwith %}
                    {% endfor %}
                {% endwith %}

                <td>{{ race_team.total_point }}</td>
                <td>{{ race_team.total_worth|with_currency }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

{% block javascript %}
    <script>

                $(document).ready(function() {
                  $("#table_team_detail").DataTable(
                      {
                          language: {
                              "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
                          },
                          paging: false,
                          "order": [[0, 'asc']],
                          "info": false,
                      }
                  );
                });

    </script>

{% endblock %}
