{% extends 'base.html' %}
{% load fantasy_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'fantasy:home' %}">Fantasy League</a></li>

    <li class="breadcrumb-item"><a href="{{ championship.get_absolute_url }}">{{ championship }}</a></li>
    <li class="breadcrumb-item">Teams</li>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% for tab_id, title in tabs.items %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{ tab_id }}">{{ title }}</a>
            </li>
            {% endfor %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {% for tab_id in tabs %}
                <div class="tab-pane container {% if forloop.first %}show active{% else %}fade{% endif %}"
                     id="{{ tab_id }}">
                    <br/>
                    <a href="{% url 'fantasy:new_team_form' championship.slug %}" class="btn btn-primary ml-2">New Team</a>
                    <a href="#" class="btn btn-primary ml-2">Alım & Satım</a>
                    <table id="table_{{ tab_id }}" class="table table-bordered small justify-content-center text-center text-nowrap">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Rank</th>
                            <th>Team</th>
                            {% for race in race_list %}
                                <th>
                                    <a href="{{ race.get_absolute_url }}">{{ race.circuit.country }}</a>
                                </th>
                            {% endfor %}
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for team, race_team_list in race_team_dict.items %}
                            <tr>
                                <td></td>
                                <td><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></td>


                                {% for race_team in race_team_list %}
                                    <td>
                                        {{ race_team|call_or_get_attr:tab_id|default_if_none:"-" }}
                                    </td>
                                {% endfor %}
                                <td></td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script>

                $(document).ready(function() {
                    {% for tab_id in tabs %}
                  $("#table_{{ tab_id }}").DataTable(
                      {
                          paging: false,
                          "order": [],
                          "info": false,

                          columnDefs: [
                              {
                                   render: function (data, type, row) {
                                       let result = 0.0;
                                       let num;
                                       let nan_count = 0;
                                       for (let i = 1; i < row.length - 1; i++) {
                                           num = parseFloat(row[i].replace(',','.'));
                                           if (isNaN(num)) {
                                               num = 0.0;
                                               nan_count += 1;
                                           }
                                           result += num;
                                       }
                                       {% if tab_id in 'qualy,grid,results' %}
                                           result /= row.length - 2 -nan_count;
                                           result = isNaN(result) ? "" : result;
                                       {% endif %}

                                       return result;
                                   },
                                   targets: -1,
                               }
                          ]
                      }
                  );
                  {% endfor %}
                });

    </script>

{% endblock %}
