{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'tahmin:home' %}">Tahmin Ligi</a></li>
    <li class="breadcrumb-item active">{{ championship }}</li>
{% endblock %}

{% block content %}

<ul>
    <li><a href="{% url 'tahmin:race_list' championship.slug %}">{{ championship }} - Yarışlar </a></li>
    <li><a href="{% url 'tahmin:team_list' championship.slug %}">{{ championship }} - Takımlar </a></li>
</ul>

{% endblock %}