{% extends 'base.html' %}
{% load fantasy_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'tahmin:home' %}">Tahmin Ligi</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'tahmin:race_list' view.championship.slug %}">{{ view.championship }}</a></li>
    <li class="breadcrumb-item">{{ race.name }}</li>
{% endblock %}

{% block content %}
    {% if before_race %}
        <div class="alert alert-warning" role="alert">
            <h2 class="text-center">
                Üyelerimizin yaptığı tahminler yarış saatinden sonra görünür olacaktır.</h2>
            <p class="text-center">Yaptığınız tahmini görmek ya da yeni tahmin yapmak için:</p>
        </div>
        <div class="row justify-content-center">
            <a href="{% url 'tahmin:new_team_form' view.championship.slug %}" class="btn btn-primary ml-2">Tahmin Yap</a>
        </div>
    {% else %}
    <table id="top10"
           class="table table-bordered table-responsive small justify-content-center text-center text-nowrap">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            {% for racedriver in top10 %}
                <th>{{ forloop.counter }}</th>
            {% endfor %}
            <th>11</th>
            <th>12</th>
        </tr>
        </thead>
        <tr>
            <td><b>Sürücü</b></td>
            {% for racedriver in top10 %}
                <td><b> {{ racedriver.driver.code|title }} </b></td>
            {% endfor %}
            <td>{{ race.questions.all.0.answer|default_if_none:"N/A" }}</td>
            <td>{{ race.questions.all.1.answer|default_if_none:"N/A" }}</td>
        </tr>
        <tr>
            <td><b>Doğru Tahmin Sayısı</b></td>
            {% for count in counts %}
                <td> {{ count }} </td>
            {% endfor %}
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>Puan</b></td>
            {% for point in points %}
                <td> {{ point }} </td>
            {% endfor %}
            <td>{{ race.questions.all.0.point|default_if_none:"-" }}</td>
            <td>{{ race.questions.all.1.point|default_if_none:"-" }}</td>
        </tr>
    </table>
    <table id="table_race_detail"
           class="table table-bordered table-responsive small justify-content-center text-center text-nowrap">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Üye</th>
            {% for racedriver in top10 %}
                <th>{{ forloop.counter }}</th>
            {% endfor %}
            <th>11</th>
            <th>12</th>
            <th>Toplam</th>
        </tr>
        </thead>

        <tbody>
        {% for race_team in race_team_list %}
            <tr>
                <td></td>
                <td><a href="#">{{ race_team.team.name }}</a></td>
                {% for idx in "123456789" %}
                    {% with "prediction_"|add:idx as prediction_field %}
                        {% with race_team|call_or_get_attr:prediction_field as racedriver %}
                            <td>
                                {{ racedriver.driver.code|title }}
                                <small hidden>
                                    {{ race_team.prediction_point|index:forloop.counter0|default_if_none:"" }}
                                </small>
                            </td>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
                <td>
                    {{ race_team.prediction_10.driver.code|title }}
                    <small hidden>
                        {{ race_team.prediction_point.9|default_if_none:"" }}
                    </small>
                </td>
                <td>
                    {{ race_team.question_1 }}
                    <small hidden>
                        {{ race_team.prediction_point.10|default_if_none:"" }}
                    </small>
                </td>
                <td>
                    {{ race_team.question_2 }}
                    <small hidden>
                        {{ race_team.prediction_point.11|default_if_none:"" }}
                    </small>
                </td>
                <td><b>{{ race_team.total_point }}</b></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function () {
            var table = $("#table_race_detail").DataTable(
                {
                    language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
                    },
                    paging: false,
                    "order": [[14, 'desc']],
                    "info": false,
                    "columnDefs": [
                        {
                                searchable: false,
                                orderable: false,
                                targets: 0,
                            },
                    ],
                    rowCallback: function (row, data, index) {
                        for (let i = 2; i < 14; ++i) {
                            console.log(row, i, data[i])
                            $("td", row).eq(i).filter(function () {
                                return parseInt($(this).find("small").text(), 10) >= 0;
                            }).css('background-color', '#99ff9c')
                        }

                    }
                }
            );
            table.on('init.dt', function () {
                    let i = 1;
                    table.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                        this.data("<b>"+ i++ +"</b>");
                    });
                }).draw();
        });

    </script>

{% endblock %}
