{% extends 'base.html' %}
{% load static fantasy_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'tahmin:home' %}">Tahmin Ligi</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'tahmin:race_list' view.championship.slug %}">{{ view.championship }}</a></li>
    <li class="breadcrumb-item">{{ race.name }}</li>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between text-center my-4">
        <a class="btn btn-outline-primary {% if not race.previous %}disabled{% endif %}" href="{{ race.previous.get_tahmin_url }}">&larr; {{ race.previous|default_if_none:"" }}</a>
        <h3 class="text-center">{{ race }}</h3>
        <a class="btn btn-outline-primary {% if not race.next %}disabled{% endif %}" href="{{ race.next.get_tahmin_url }}">{{ race.next|default_if_none:"" }} &rarr;</a>
    </div>

    {% if before_race %}
        <div class="alert alert-warning" role="alert">
            <img src="{% static 'img/really3dcasio.png' %}" class="rounded mx-auto d-block" alt="Uyarı!">
            <h2 class="text-center">
                Üyelerimizin yaptığı tahminler yarış saatinden sonra görünür olacaktır.</h2>
            <p class="text-center">Yaptığınız tahmini görmek ya da yeni tahmin yapmak için:</p>
        </div>
        <div class="row justify-content-center">
            <a href="{% url 'tahmin:new_team_form' view.championship.slug %}" class="btn btn-primary ml-2">Tahmin Yap</a>
        </div>
    {% else %}
    <table id="top10"
           class="table table-responsive compact small stripe hover cell-border order-column justify-content-center text-center text-nowrap">
        <thead class="thead-inverse">
        <tr>
            <th>Sıra</th>
            {% for _ in "1234567890" %}
                <th>{{ forloop.counter }}</th>
            {% endfor %}
            <th>11</th>
            <th>12</th>
        </tr>
        </thead>
        <tr>
            <td><b>Sürücü</b></td>
            {% for racedriver in race.top10 %}
                <td><b> {{ racedriver.driver.code|title }} </b></td>
            {% endfor %}
            <td>{{ race.questions.all.0.answer|default_if_none:"N/A" }}</td>
            <td>{{ race.questions.all.1.answer|default_if_none:"N/A" }}</td>
        </tr>
        <tr>
            <td><b>Doğru Tahmin Sayısı</b></td>
            {% for count in tahmin_counts %}
                <td> {{ count }} </td>
            {% endfor %}
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>Puan</b></td>
            {% for point in tahmin_points %}
                <td> {{ point }} </td>
            {% endfor %}
            <td>{{ race.questions.all.0.point|default_if_none:"-" }}</td>
            <td>{{ race.questions.all.1.point|default_if_none:"-" }}</td>
        </tr>
    </table>
    <table id="table_race_detail"
           class="table table-responsive compact small stripe hover cell-border order-column justify-content-center text-center text-nowrap">
        <thead class="thead-inverse">
        <tr>
            <th>Sıra</th>
            <th>Üye</th>
            {% for _ in "1234567890" %}
                <th>{{ forloop.counter }}</th>
            {% endfor %}
            <th>11</th>
            <th>12</th>
            <th>Toplam</th>
        </tr>
        </thead>

        <tbody>
        {% for tahmin in tahmin_list %}
            <tr>
                <td></td>
                <td><a href="#">{{ tahmin.user.get_full_name }}</a></td>
                {% for idx in "123456789" %}
                    {% with "prediction_"|add:idx as prediction_field %}
                        {% with tahmin|call_or_get_attr:prediction_field as racedriver %}
                            <td>
                                {{ racedriver.driver.code|title }}
                                <small hidden>
                                    {{ tahmin.prediction_point|index:forloop.counter0|default_if_none:"" }}
                                </small>
                            </td>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
                <td>
                    {{ tahmin.prediction_10.driver.code|title }}
                    <small hidden>
                        {{ tahmin.prediction_point.9|default_if_none:"" }}
                    </small>
                </td>
                <td>
                    {{ tahmin.question_1 }}
                    <small hidden>
                        {{ tahmin.prediction_point.10|default_if_none:"" }}
                    </small>
                </td>
                <td>
                    {{ tahmin.question_2 }}
                    <small hidden>
                        {{ tahmin.prediction_point.11|default_if_none:"" }}
                    </small>
                </td>
                <td><b>{{ tahmin.total_point }}</b></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function () {
            var table = $("#table_race_detail").DataTable(
                {
                    language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
                    },
                    paging: false,
                    "order": [[14, 'desc']],
                    "info": false,
                    columnDefs: [
                        {
                            className: "dt-center",
                            targets: "_all"
                        },
                        {
                            searchable: false,
                            orderable: false,
                            targets: 0,
                        },
                    ],
                    rowCallback: function (row, data, index) {
                        for (let i = 2; i < 14; ++i) {
                            console.log(row, i, data[i])
                            $("td", row).eq(i).filter(function () {
                                return parseInt($(this).find("small").text(), 10) >= 0;
                            }).css('background-color', '#99ff9c')
                        }

                    }
                }
            );
            table.on('init.dt', function () {
                    let i = 1;
                    table.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                        this.data("<b>"+ i++ +"</b>");
                    });
                }).draw();
        });

    </script>

{% endblock %}
