{% extends 'base.html' %}
{% load static %}

{% block title %}Tahmin {{ view.championship }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item">{{ view.championship }}</li>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block content %}
    <div class="list-group-horizontal">
        <li class="list-group-item "><a href="{% url 'formula:tahmin:team_list' view.championship.series view.championship.year %}" class="card-link"> Takımlar (Genel Klasman) </a></li>
        <li class="list-group-item"><a href="{% url 'formula:tahmin:new_team_form' view.championship.series view.championship.year %}" class="card-link">Yeni Tahmin</a></li>
    </div>

    <h3 class="my-3">Yarışlar</h3>
    <table class="table table-responsive table-hover table-sm table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>Ayak</th>
            <th>Ad / Pist</th>
            <th>1. Antrenman</th>
            <th>2. Antrenman</th>
            <th>3. Antrenman</th>
            <th>Sıralama</th>
            <th>Sprint Shootout</th>
            <th>Sprint</th>
            <th>Yarış</th>
        </tr>
        </thead>
        <tbody>
        {% for race in race_list %}
            <tr class="align-middle">
                <td>{{ race.round }}</td>
                <td><i class="{{ race.country.flag_css }}"></i> <a href="{{ race.get_tahmin_url }}">{{ race.name }}</a> <br> <a href="{{ race.circuit.get_absolute_url }}">{{ race.circuit}}</a></td>
                <td>{{ race.fp1_datetime|date:"j F"}} <br> {{ race.fp1_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.fp2_datetime|date:"j F"}} <br> {{ race.fp2_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.fp3_datetime|date:"j F"}} <br> {{ race.fp3_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.quali_datetime|date:"j F"}} <br> {{ race.quali_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.sprint_shootout_datetime|date:"j F"}} <br> {{ race.sprint_shootout_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.sprint_datetime|date:"j F"}} <br> {{ race.sprint_datetime|time:"TIME_FORMAT" }}</td>
                <td>{{ race.datetime|date:"j F" }} <br> {{ race.datetime|date:"TIME_FORMAT" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
