{% extends 'base.html' %}
{% load static form_tags widget_tweaks %}

{% block title %}Tahmin Yap{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:season_list' view.championship.series %}">{{ view.championship.get_series_display }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:race_list' view.championship.series view.championship.year %}">{{ view.championship.year }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:tahmin:team_list' view.championship.series view.championship.year %}">Tahmin Ligi</a></li>
    <li class="breadcrumb-item">Tahmin Yap</li>
{% endblock %}

{% block content %}
    <h2 class="my-3">Tahmin Yap - <a href="{{ view.race.get_absolute_url }}">{{ view.race }}</a></h2>
    <ul>
        <li>Tahmininizi gönderdikten sonra aynı sayfadan yarış saatine kadar tekrar değiştirebilirsiniz.</li>
        <li>Yarış başlangıcından önceki son tahmininiz geçerli sayılacaktır.</li>
        <li>Aynı pilotu birden fazla sıra için seçmekte serbestsiniz. Bunun doğuracağı garanti/risk dengesini ayarlamak
            size kalmış.
        </li>
        <li>Her doğru tahmin edilen sıradan kazanılan puan, aşağıdaki tabloda da görüleceği üzere, onu tahmin eden kişi
            sayısıyla ters orantılıdır.
        </li>
        <li>Çoktan seçmeli sorularda bazı şıkların değeri diğerlerinden yüksek olabilir, bu da o durumun gerçekleşme
            olasılığına göre değişkenlik gösterebilir.
        </li>
        <li>Burada stratejik olarak düşük puanlı şıkka oynamak yerine gerçekleşmesi zor sürpriz şıkka oynayıp
            çok puan kazanmayı hedefleyebilirsiniz.
        </li>
        <li>Ancak unutmayın ki, sıra tahminlerinin aksine kaç kişi bilirse bilsin, çoktan seçmeli sorulardan sabit puan
            alacağınızı unutmayın.
        </li>
        <li>İşlemlerinizi <b>{{ view.race.datetime|default_if_none:"???" }}</b> tarihine kadar yapabilirsiniz.</li>
    </ul>

    <h3 class="my-4">Puan Tablosu</h3>
    <img src="{% static 'tahmin/tahmin2023puanları.jpg' %}"
         alt="Tahmin ligi 2023 puanları!">
    <h3 class="my-4"> Grid </h3>
    <ul>
        <li>
            Olası cezalardan ötürü görünen grid dizilimin güncel olmayabileceğini unutmayın.
        </li>
    </ul>
    <iframe src="{{ view.race.wikilink }}#Qualifying_classification" scrolling="no"
            width="900px" height="900px"></iframe>
    <h3 class="my-4"> Tahmin Formu </h3>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Gönder</button>
        <button type="reset" class="btn btn-primary ms-2" id="deselect">Değişiklikleri Geri Al</button>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('input[name^="question"]').attr("class", "");
            $('[id*="answer"]').attr("class", "");
        })
    </script>
{% endblock %}
