{% extends 'base.html' %}

{% block title %}Parola Değiştirme Başarılı | Formula 1 Türkiye{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Parolayı değiştir</a></li>
    <li class="breadcrumb-item active">Başarılı</li>
{% endblock %}

{% block content %}
    <div class="alert alert-success" role="alert">
        <strong>Tebrikler!</strong> Parolanız değiştirildi!
    </div>
    <a href="{% url 'home' %}" class="btn btn-secondary">Ana sayfaya dönün</a>
{% endblock %}
