body {
    font-family: 'Cabin', "serif"; !important
}

.navbar-brand {
    font-family: 'Peralta', cursive;
}

.container {
    max-width: 86%;
}

.dataTables_filter {
    float: left !important;
}

.bg_winner {
    background-color: #FFFFBF !important;
}

.bg_second {
    background-color: #DFDFDF !important;
}

.bg_third {
    background-color: #FFDF9F !important;
}

.bg_points {
    background-color: #DFFFDF !important;
}

.bg_classified {
    background-color: #CFCFFF !important;
}

.bg_retired {
    background-color: #EFCFFF !important;
}

.list-group-horizontal .list-group-item {
	display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
 	border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
	border-right-width: 1px;
}
