body {
    font-family: 'Cabin', "serif"; !important
}

.navbar-brand {
    font-family: 'Peralta', cursive;
}

.container {
    max-width: 86%;
}

.dataTables_filter {
    float: left !important;
}

.bg_winner {
    background-color: #FFFFBF !important;
}

.bg_second {
    background-color: #DFDFDF !important;
}

.bg_third {
    background-color: #FFDF9F !important;
}

.bg_points {
    background-color: #DFFFDF !important;
}

.bg_classified {
    background-color: #CFCFFF !important;
}

.bg_retired {
    background-color: #EFCFFF !important;
}
