{% extends 'base.html' %}
{% load static %}

{% block title %}Green Flag - Sayı {{ greenflag.pk }}: {{ greenflag.title }}{% endblock %}

{% block body %}
    {% include 'includes/navbar.html' %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    <div class="footer_pusher" style="position:relative;padding-top:max(60%,324px);width:100%;height:0;"><iframe style="position:absolute;border:none;width:100%;height:100%;left:0;top:0;" src="{{ greenflag.url }}"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe></div>
{% include "includes/footer.html" %}
{% endblock body %}
