{% load static %}<!DOCTYPE html>
<html lang="tr">
<head>
    {% include 'includes/meta.html' %}
    <title>{% if debug %}[DEV] {% endif %}{% block title %}{% endblock %} • Formula 1 Türkiye</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
    {% if debug %}
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon-16x16.png' %}"/>
        <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    {% else %}
        <script src="https://kit.fontawesome.com/951e6f3442.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css">
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% if request.device.is_mobile %}
        <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body class="bg-light">
{% block body %}
    {% include 'includes/navbar.html' %}

    <div class="container mb-5 footer_pusher">
        {% block crumbarea %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-4">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
        {% endblock %}

        {% block messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
{% include "includes/footer.html" %}
{% endblock body %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% if debug %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
{% else %}
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/plug-ins/2.1.8/sorting/absolute.js"></script>
<script src="{% static 'js/tablink.js' %}"></script>
<script src="{% static 'js/jquery-colorize.js' %}"></script>
<script src="{% static 'js/language.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
