{% load static %}<!DOCTYPE html>
<html lang="tr">
<head>
    {% include 'includes/meta.html' %}
    <title>{% block title %}{% endblock %} • Formula 1 Türkiye</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
    {% if debug %}
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon-16x16.png' %}"/>
        <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    {% else %}
        <script src="https://kit.fontawesome.com/951e6f3442.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% if request.device.is_mobile %}
        <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body class="bg-light">
{% block body %}
    {% include 'includes/navbar.html' %}

    <div class="container footer_pusher">
        {% block crumbarea %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-4">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
        {% endblock %}

        {% block messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
{% include "includes/footer.html" %}
{% endblock body %}

{% if debug %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% else %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endif %}
<script src="{% static 'js/tablink.js' %}"></script>
<script src="{% static 'js/jquery-colorize.js' %}"></script>
<script src="{% static 'js/language.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
