{% extends 'base.html' %}
{% block title %}Ana Sayfa{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">Ana Sayfa</li>
{% endblock %}
{% block content %}
    <h4 class="my-3">Ürünlerimiz</h4>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url "django.contrib.flatpages.views.flatpage" url="elo/" %}" class="card-link">Elo Sıralama Projesi</a></h5>
                    <p class="card-text">Elo puanlama sistemini kullanarak F1 tarihininin en iyi sıralama turu
                        pilotları listesini hazırladık.</p>
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url "django.contrib.flatpages.views.flatpage" url="puanla/" %}" class="card-link">Yarışı Puanla</a></h5>
                    <p class="card-text">Her yarış sonrasında Facebook grubumuzda yaptığımız oylamalarla her yarışın
                        puanını belirliyoruz.</p>
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url "django.contrib.flatpages.views.flatpage" url="quiz/" %}" class="card-link">Quiz Night</a></h5>
                    <p class="card-text">Formula 1 Türkiye grup duvarında yaptığımız bir bilgi yarışması.</p>
                </div>
            </div>
        </div>
    </div>
    <h4 class="my-3">Liglerimiz</h4>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url "formula:race_list" "f1" "2023" %}" class="card-link">F1 Fantasy Lig 2023</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Başladı!</h6>
                    <p class="card-text">2017'de başladığımız Fantasy F1 ligi heyecanı, 7. sezonunda bütün hızıyla
                        devam ediyor!</p>
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url "formula:home" %}" class="card-link">Fantasy Lig Nedir & Kurallar</a></li>
                    <li class="list-group-item list-group-item-action">
                    {% if race_team_count_f1 > 1 %}
                        <a href="{% url 'formula:edit_team_form' "f1" "2023" %}" class="card-link">Alım Satım</a>
                    {% elif race_team_count_f1 == 0 %}
                        <a href="{% url 'formula:new_team_form' "f1" "2023" %}" class="card-link">Yeni Takım Kur</a>
                    {% elif race_team_count_f1 == 1 %}
                        <a href="{% url 'formula:edit_team_form' "f1" "2023" %}" class="card-link">Takımı Düzenle</a>
                    {% else %}
                        <a href="{% url 'formula:new_team_form' "f1" "2023" %}" class="card-link">Yeni Takım / Alım
                            Satım (Giriş Yapınız)</a>
                    {% endif %}
                    </li>
                    <li class="list-group-item list-group-item-action"><a
                            href="{% url "formula:team_list" "f1" "2023" %}" class="card-link">Genel Klasman</a></li>
                    <li class="list-group-item list-group-item-action"><a
                            href="{% url "formula:redirect_last_race" "f1" "2023" %}" class="card-link">Son Yarış</a></li>
                    <li class="list-group-item list-group-item-action"><a
                            href="{% url 'formula:driver_stats' "f1" "2023" %}" class="card-link">Sürücü İstatistikleri</a></li>
                    {% if fantasy_team_f1 %}
                        <li class="list-group-item list-group-item-action"><a
                            href="{% url 'formula:team_detail' "f1" "2023" fantasy_team_f1 %}" class="card-link">Profil Sayfanız</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url "formula:race_list" "f2" "2023" %}" class="card-link">F2 Fantasy Lig 2023</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Başladı!</h6>
                    <p class="card-text">2018'de başladığımız Fantasy F2 ligi heyecanı, 6. sezonunda bütün hızıyla devam ediyor!</p>
                    <li class="list-group-item list-group-item-action"><a href="{% url "formula:home" %}"
                                                                          class="card-link">Fantasy Lig Nedir &
                        Kurallar</a></li>
                    <li class="list-group-item list-group-item-action">
                    {% if race_team_count_f2 > 1 %}
                        <a href="{% url 'formula:edit_team_form' "f2" "2023" %}" class="card-link">Alım Satım</a>
                    {% elif race_team_count_f2 == 0 %}
                        <a href="{% url 'formula:new_team_form' "f2" "2023" %}" class="card-link">Yeni Takım Kur</a>
                    {% elif race_team_count_f2 == 1 %}
                        <a href="{% url 'formula:edit_team_form' "f2" "2023" %}" class="card-link">Takımı Düzenle</a>
                    {% else %}
                        <a href="{% url 'formula:new_team_form' "f2" "2023" %}" class="card-link">Yeni Takım / Alım
                            Satım (Giriş Yapınız)</a>
                    {% endif %}
                    </li>
                    <li class="list-group-item list-group-item-action"><a
                            href="{% url "formula:team_list" "f2" "2023" %}" class="card-link">Genel Klasman</a></li>
                    <li class="list-group-item list-group-item-action"><a
                            href="{% url "formula:redirect_last_race" "f2" "2023" %}" class="card-link">Son Yarış</a></li>
                    <li class="list-group-item list-group-item-action"><a
                            href="{% url 'formula:driver_stats' "f2" "2023" %}" class="card-link">Sürücü İstatistikleri</a></li>
                    {% if fantasy_team_f2 %}
                        <li class="list-group-item list-group-item-action"><a
                            href="{% url 'formula:team_detail' "f2" "2023" fantasy_team_f1 %}" class="card-link">Profil Sayfanız</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url "tahmin:race_list" "f1" "2023" %}" class="card-link">F1 Tahmin Ligi 2023</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Başladı!</h6>
                    <p class="card-text">Sıralama turlarından sonra açılacak form ile tahminlerinizi
                        yarış saatine kadar yapabilirsiniz.</p>
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url "tahmin:home" %}" class="card-link">Tahmin Ligi Nedir & Kurallar</a></li>
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url "tahmin:new_team_form" "f1" "2023" %}" class="card-link">Tahmin yap
                            {% if not user.is_authenticated %}(Üye olmanız gerekir){% endif %}
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action"><a
                            href="{% url "tahmin:team_list" "f1" "2023" %}" class="card-link">Genel Klasman</a></li>
                    <li class="list-group-item list-group-item-action"><a
                            href="{% url "tahmin:redirect_last_race" "f1" "2023" %}" class="card-link">Son Yarış</a></li>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
