{% extends 'base.html' %}
{% load static %}

{% block title %}Yarışı Puanla {{ championship.year }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:season_list' view.championship.series %}">{{ view.championship.get_series_display }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:race_list' view.championship.series view.championship.year %}">{{ view.championship.year }}</a></li>
    <li class="breadcrumb-item">Yarışı Puanla</li>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between my-4">
        <a class="btn btn-outline-primary {% if not view.championship.previous or not view.championship.previous.is_puanla %}disabled{% endif %}" href="{% if not view.championship.previous or not view.championship.previous.is_puanla %}#{% else %}{% url 'ratings:season_ratings' view.championship.series view.championship.previous.year %}{% endif %}">&larr; {{ view.championship.previous.short_str|upper|default_if_none:"" }}</a>
        <h3 class="text-center">{{ view.championship.short_str|upper }} Sezonu Yarış Puanları</h3>
        <a class="btn btn-outline-primary {% if not view.championship.next or not view.championship.next.is_puanla %}disabled{% endif %}" href="{% if not view.championship.next or not view.championship.next.is_puanla %}#{% else %}{% url 'ratings:season_ratings' view.championship.series view.championship.next.year %}{% endif %}">{{ view.championship.next.short_str|upper|default_if_none:"" }} &rarr;</a>
    </div>
	
	<div class="btn-toolbar my-4" role="toolbar" aria-label="Toolbar with button groups">
      <div class="d-flex gap-2" role="group" aria-label="Menu Group Tahmin">
        <a href="{% url "ratings:series_ratings" "f1" %}"
           class="btn btn-primary me-3">Tüm Sezonlar</a>
      </div>
	</div>
   <table id="table_season_rating_list" class="table table-responsive table-hover table-sm table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Yarış</th>
            <th>Kişi</th>
            <th>Puan</th>
            <th>Onur</th>
            <th>Semih</th>
            <th>Kazanan</th>
            <th>Takım</th>
        </tr>
        </thead>
        <tbody>
        {% for race in race_list %}
            <tr class="align-middle">
                <td></td>
                <td><i class="{{ race.country.flag_css }}"></i> <a href="{{ race.get_absolute_url }}">{{ race.name }}</a></td>
                <td>{{ race.rating_instance.amount }}</td>
                <td><b>{{ race.rating_instance.score|default_if_none:'' }}</b></td>
                <td>{{ race.rating_instance.onur|default_if_none:'' }}</td>
                <td>{{ race.rating_instance.semih|default_if_none:'' }}</td>
                <td><a href="{{ race.prefetched_winners.0.driver.get_absolute_url }}">{{ race.prefetched_winners.0.driver|default_if_none:'' }}</a></td>
                <td><a href="{{ race.prefetched_winners.0.championship_constructor.constructor.get_absolute_url }}">{{ race.prefetched_winners.0.championship_constructor.constructor|default_if_none:'' }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
              <th colspan="2">Ortalama:</th>
              <th></th>
              <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function () {
            var datatable = $("#table_season_rating_list").DataTable(
                {
                    language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
                    },
                    paging: false,
                    "order": [[3, 'desc']],
                    "searching": false,
                    "info": false,
                    columnDefs: [
                        {
                          className: "dt-center",
                          targets: "_all"
                        },
                        {
                            orderable: false,
                            targets: [1],
                        }
                    ],
                    footerCallback: function (row, data, start, end, display) {
                      let api = this.api();

                      // Remove the formatting to get numeric data for averaging
                      let numericVal = function (i) {
                        return typeof i === 'string'
                          ? parseFloat(i.replace(/[^\d,.-]/g, '').replace(',', '.'))  // Remove any non-digit characters and parse as float
                          : typeof i === 'number'
                            ? i
                            : NaN;
                      };

                      // Columns to calculate average for (2, 3, 4, 5)
                      let columnsToAverage = [2, 3, 4, 5];

                      // Average over all pages for specified columns
					  let averages = columnsToAverage.map(function (column) {
						let columnData = api.column(column).data();
						let sum = 0;
						let count = 0;
						columnData.each(function (value) {
						  if (value.trim() !== "") { // Check if the cell is not empty
							sum += numericVal(value);
							count++;
						  }
						});
						return count > 0 ? sum / count : 0;
					  });

                      // Update footer for specified columns
                      columnsToAverage.forEach(function (column, index) {
						let footer = api.column(column).footer();
						if (footer) {
							footer.innerHTML = averages[index].toFixed(2);
						}
                        <!-- api.column(column).footer().innerHTML = averages[index].toFixed(2); -->
                      });
                    }

                }
            );
            datatable.on('init.dt', function () {
                let i = 1;
                datatable.cells(null, 0, {search: 'applied'}).every(function (cell) {
                    this.data("<b>" + i++ + "</b>");
                });
            }).draw();
        });

    </script>

{% endblock %}
