{% extends 'base.html' %}
{% load static %}

{% block title %}Yarışı Puanla{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item"><a href="{% url 'formula:season_list' series %}">{{ series_display }}</a></li>
    <li class="breadcrumb-item">Yarışı Puanla</li>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block content %}
  <h2 class="my-3">YARIŞI PUANLA NEDİR?</h2>
    <ul>
        <li>Formula 1 Türkiye üyeleri olarak, 2016'dan beri her yarış sonrasında Facebook grubumuzda yaptığımız
            oylamalarla her yarışın puanını belirliyoruz.</li>
		<li>Böylece, gittikçe büyüyen bir arşiv yaratıp son yılların
            en güzel ya da en sıkıcı yarışlarını sıralamış oluyoruz.
        </li>
		<hr>
		</hr>
        <li>Not: Yarışı Puanla 2016 Bahreyn GP'si ile başladığından, 2016'nın ilk yarışı olan Avustralya GP'sinin puanı
            yoktur.
        </li>
        <li>
            Adminlerin yıllık iznine denk geldiğinden ötürü 2019 Fransa GP'si için Yarışı Puanla anketi yapılmamıştır.
        </li>
        <li>
            2021 Belçika GP'si de göstermelik olarak yapıldığı için değerlendirmeye alınmamıştır.
        </li>
    </ul>
  <br/>
   <table id="table_series_rating_list" class="table table-responsive table-hover table-sm table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Yıl</th>
            <th>Yarış</th>
            <th>Kişi</th>
            <th>Puan</th>
            <th>Onur</th>
            <th>Semih</th>
            <th>Kazanan</th>
            <th>Takım</th>
        </tr>
        </thead>
        <tbody>
        {% for race in race_list %}
            <tr class="align-middle">
                <td></td>
                <td><a href="{{ race.championship.get_absolute_url }}">{{ race.championship.year }}</a></td>
                <td><i class="{{ race.country.flag_css }}"></i> <a href="{{ race.get_absolute_url }}">{{ race.name }}</a></td>
                <td>{{ race.rating_instance.amount }}</td>
                <td><b>{{ race.rating_instance.score|default_if_none:'' }}</b></td>
                <td>{{ race.rating_instance.onur|default_if_none:'' }}</td>
                <td>{{ race.rating_instance.semih|default_if_none:'' }}</td>
                <td><a href="{{ race.prefetched_winners.0.driver.get_absolute_url }}">{{ race.prefetched_winners.0.driver|default_if_none:'' }}</a></td>
                <td><a href="{{ race.prefetched_winners.0.championship_constructor.constructor.get_absolute_url }}">{{ race.prefetched_winners.0.championship_constructor.constructor|default_if_none:'' }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
		<tfoot>
            <tr>
              <th colspan="3">Ortalama:</th>
              <th></th>
              <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function () {
            var datatable = $("#table_series_rating_list").DataTable(
                {
                    language: {
                        "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
                    },
                    paging: false,
                    "order": [[4, 'desc']],
                    paging: true,
                    pageLength: 25,
                    lengthMenu: [
                        [10, 25, 50, -1],
                        [10, 25, 50, 'Tümü']
                    ],
                    "searching": false,
                    "info": false,
                    columnDefs: [
                        {
                            className: "dt-center",
                            targets: "_all"
                        },
                        {
                            orderable: false,
                            targets: [2],
                        }
                    ],
					footerCallback: function (row, data, start, end, display) {
                      let api = this.api();

                      // Remove the formatting to get numeric data for averaging
                      let numericVal = function (i) {
                        return typeof i === 'string'
                          ? parseFloat(i.replace(/[^\d,.-]/g, '').replace(',', '.'))  // Remove any non-digit characters and parse as float
                          : typeof i === 'number'
                            ? i
                            : NaN;
                      };

                      // Columns to calculate average for (3, 4, 5, 6)
                      let columnsToAverage = [3, 4, 5, 6];

                      // Average over all pages for specified columns
					  let averages = columnsToAverage.map(function (column) {
						let columnData = api.column(column).data();
						let sum = 0;
						let count = 0;
						columnData.each(function (value) {
						  if (value.trim() !== "") { // Check if the cell is not empty
							sum += numericVal(value);
							count++;
						  }
						});
						return count > 0 ? sum / count : 0;
					  });

					  // Average over this page for specified columns
					  let pageAverages = columnsToAverage.map(function (column) {
						let columnData = api.column(column, { page: 'current' }).data();
						let sum = 0;
						let count = 0;
						columnData.each(function (value) {
						  if (value.trim() !== "") { // Check if the cell is not empty
							sum += numericVal(value);
							count++;
						  }
						});
						return count > 0 ? sum / count : 0;
					  });

                      // Update footer for specified columns
                      columnsToAverage.forEach(function (column, index) {
						let footer = api.column(column).footer();
						if (footer) {
							footer.innerHTML = averages[index].toFixed(2);
						}
                        <!-- api.column(column).footer().innerHTML = averages[index].toFixed(2); -->
                      });
                    },
                }
            );
            datatable.on('init.dt', function () {
                let i = 1;
                datatable.cells(null, 0, {search: 'applied'}).every(function (cell) {
                    this.data("<b>" + i++ + "</b>");
                });
            }).draw();
        });

    </script>

{% endblock %}
