{% extends 'base_accounts.html' %}

{% block title %}Parolayı Değiştir | Formula 1 Türkiye{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Parolayı Değiştir</li>
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-4 col-md-6 col-sm-8">
			<div class="card">
				<div class="card-body">
				<h3 class="card-title">Parolayı Değiştir</h3>
				  <form method="post" novalidate>
					{% csrf_token %}
					{% include 'includes/form.html' %}
					<button type="submit" class="btn btn-success">Parolayı değiştir</button>
				  </form>
				</div>
		    </div>
	    </div>
  </div>
{% endblock %}
