Merhaba,

{{ email }} adresi için şifre sıfırlama talebinde bulundunuz.
Aşağıdaki bağlantıyı takip edin:
{{ protokol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Formula 1 Türkiye kullanıcı adınızı unuttuysanız: {{ user.username }}

Yukarıdaki bağlantıya tıklamak işe yaramazsa, lütfen bunun yerine
URL'yi kopyalayıp yeni bir tarayıcı penceresine yapıştırın.

Bu e-postayı yanlışlıkla aldıysanız, başka bir kullanıcı parola
sıfırlamaya çalışırken yanlışlıkla e-posta adresinizi girmiş olabilir.
İsteği siz başlatmadıysanız başka bir işlem yapmanıza gerek yoktur ve
bu e-postayı güvenle dikkate almayabilirsiniz.

Teşekkürler,
Formula 1 Türkiye
