{% load static %}

<footer>
  <div class="container-fluid bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <h5>Linkler</h5>
            <ul>
              <li><a href="{% url "contact" %}">Bize ulaşın!</a></li>
              <li><a href="{% url "django.contrib.flatpages.views.flatpage" url="changelog/" %}">Değişiklik güncesi</a></li>
              <li><a href="{% url "django.contrib.flatpages.views.flatpage" url="faq/" %}">Sık Sorulan Sorular</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
          <h5>Facebook Gruplarımıza Katılın</h5>
          <div class="d-grid gap-2">
          <a class="btn btn-social btn-facebook" href="https://facebook.com/groups/Formula1Turkiye">
            <i class="fa-brands fa-facebook-f"></i> Formula 1 Türkiye
          </a>
          <a class="btn btn-social btn-facebook" href="https://facebook.com/groups/FormulaETurkiye">
            <i class="fa-brands fa-facebook-f"></i> F2 + FE Türkiye
          </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h5>
            <img src="{% static "icons/apple-touch-icon.png" %}" width="30" height="30" alt="logo">
            Formula 1 Türkiye
          </h5>
          <p>Formula 1 Türkiye grubu ana sayfasına hoş geldiniz. Bu site, 4600'ü aşkın üyesiyle,
            aktifleştiği 2015 yılından bu yana Türkiye'nin en büyük Formula 1 Facebook grubu olan Formula 1 Türkiye'nin
            düzenlediği Fantasy ve Tahmin Ligleri için kurduğumuz web sitesidir. Dilerseniz Quiz Night, Yarışı Puanla ve
            Elo Sıralama Projesi gibi diğer ürünlerimize de bakabilirsiniz.</p>

        </div>
      </div>
    </div>
  </div>
</footer>
