<nav class="navbar navbar-expand-md navbar-dark bg-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Formula 1 Türkiye</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-bs-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">Seriler</a>
                  <div class="dropdown-menu" aria-labelledby="userMenu">
                      <a class="dropdown-item" href="{% url 'formula:season_list' 'f1' %}">Formula 1</a>
                      <a class="dropdown-item" href="{% url 'formula:season_list' 'f2' %}">Formula 2</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-bs-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">Verilerimiz</a>
                  <div class="dropdown-menu" aria-labelledby="userMenu">
                      <a class="dropdown-item" href="{% url "formula:stats_series" "f1" %}">F1 İstatistikleri</a>
                      <a class="dropdown-item" href="{% url 'formula:circuit_list' %}">Pistler</a>
                      <a class="dropdown-item" href="{% url 'formula:all_driver_list' %}">Sürücüler</a>
                      <a class="dropdown-item" href="{% url 'formula:constructor_list' %}">Markalar</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-bs-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                      Liglerimiz
                  </a>
                  <div class="dropdown-menu" aria-labelledby="userMenu">
                      <a class="dropdown-item" href="{% url 'formula:team_list' 'f1' '2024' %}">F1 Fantasy Lig 2024</a>
                      <a class="dropdown-item" href="{% url 'formula:team_list' 'f2' '2024' %}">F2 Fantasy Lig 2024</a>
                      <a class="dropdown-item" href="{% url 'formula:tahmin:team_list' 'f1' '2024' %}">F1 Tahmin Ligi 2024</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-bs-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                      Ürünlerimiz
                  </a>
                  <div class="dropdown-menu" aria-labelledby="userMenu">
                      <a class="dropdown-item" href="{% url "django.contrib.flatpages.views.flatpage" url="elo/" %}">Elo Sıralama Projesi</a>
                      <a class="dropdown-item" href="{% url "ratings:series_ratings" "f1" %}">Yarışı Puanla</a>
                      <a class="dropdown-item" href="{% url "django.contrib.flatpages.views.flatpage" url="quiz/" %}">Quiz Night</a>
                      <a class="dropdown-item" href="{% url 'greenflag:greenflag_list' %}">Green Flag Dergisi</a>
                  </div>
              </li>
          </ul>
                      <div class="ms-auto d-lg-flex gap-2 col-lg-3 justify-content-end text-nowrap">
            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                            <a class="dropdown-item" href="{% url 'profile' %}">Hesabım</a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">Parolayı değiştir</a>
                            <div class="dropdown-divider"></div>
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Yönetici sayfası</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Çıkış yap</button>
                            </form>
                        </div>
                    </li>
                </ul>
            {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Giriş yap</a>
                    <a href="{% url 'signup' %}" class="btn btn-primary">Kaydol</a>
            {% endif %}
        </div>
        </div>
    </div>
</nav>
