{% extends "base.html" %}
{% load i18n %}

{% block crumbarea %}
{% endblock %}

{% block title %}{% translate 'Server error (500)' %}{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row text-center h-100 justify-content-center align-items-center">
            <div class="col-12">
                <h1>{% translate 'Server Error <em>(500)</em>' %}</h1>
                <p>Bizden kaynaklı bir hata oluştu. Yöneticilere mesaj ya da <a
                        href="mailto:formula1turkiyef1t@gmail.com">e-posta</a>
                    atarsanız en kısa zamanda düzeltmeye çalışacağız.</p>
            </div>
        </div>
    </div>

{% endblock %}
