{% extends "base.html" %}
{% load i18n static %}

{% block crumbarea %}
{% endblock %}

{% block title %}{% translate 'Server error (500)' %}{% endblock %}

{% block content %}
    <div class="alert my-4" role="alert">
        <img src="{% static 'img/500.jpg' %}" class="rounded mx-auto my-3 d-block" alt="404!">
        <h2 class="text-center">{% translate 'Server Error <em>(500)</em>' %}</h2>
        <p class="text-center">Bizden kaynaklı bir hata oluştu. Yöneticilere mesaj ya da <a
                        href="mailto:formula1turkiyef1t@gmail.com">e-posta</a>
                    atarsanız en kısa zamanda düzeltmeye çalışacağız.</p>
    </div>
{% endblock %}
