{% load static %}<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="Formula 1 Türkiye grubu ana sayfasına hoş geldiniz. Bu site, 4600'ü aşkın üyesiyle, aktifleştiği 2015 yılından bu yana Türkiye'nin en büyük Formula 1 Facebook grubu olan Formula 1 Türkiye'nin düzenlediği Fantasy ve Tahmin Ligleri için kurduğumuz web sitesidir.">

    <!-- Facebook Meta Tags -->
    <meta property="og:site_name" content="Formula 1 Türkiye">
    <meta property="og:title" content="Formula 1 Türkiye">
    <meta property="og:image" content="https://formula1turkiye.pythonanywhere.com/static/img/buzzinhornets.jpg">
    <meta property="og:image:secure_url" content="https://formula1turkiye.pythonanywhere.com/static/img/buzzinhornets.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="650">
    <meta property="og:url" content="https://formula1turkiye.pythonanywhere.com/">
    <meta property="og:description"
          content="Formula 1 Türkiye ligleri ana sayfasına hoş geldiniz. Bu site, 4600'ü aşkın üyesiyle, aktifleştiği 2015 yılından bu yana Türkiye'nin en büyük Formula 1 Facebook grubu olan Formula 1 Türkiye'nin düzenlediği Fantasy ve Tahmin Ligleri için kurduğumuz web sitesidir.">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="tr_TR" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="formula1turkiye.pythonanywhere.com">
    <meta property="twitter:url" content="https://formula1turkiye.pythonanywhere.com">
    <meta name="twitter:title" content="Formula 1 Türkiye">
    <meta name="twitter:description"
          content="Formula 1 Türkiye ligleri ana sayfasına hoş geldiniz. Bu site, 4600'ü aşkın üyesiyle, aktifleştiği 2015 yılından bu yana Türkiye'nin en büyük Formula 1 Facebook grubu olan Formula 1 Türkiye'nin düzenlediği Fantasy ve Tahmin Ligleri için kurduğumuz web sitesidir.">
    <meta name="twitter:image" content="https://formula1turkiye.pythonanywhere.com/static/img/buzzinhornets.jpg">

    <title>{% block title %}Formula 1 Türkiye{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body class="bg-light mb-5">
{% block body %}
    {% include 'includes/navbar.html' %}

    <div class="container">
        {% block crumbarea %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-4">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
        {% endblock %}

        {% block messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
{% endblock body %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
