{% load static %}<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Formula 1 Türkiye{% endblock %}</title>
    {% include 'includes/head.html' %}
    {% block stylesheet %}{% endblock %}
</head>
<body class="bg-light">
{% block body %}
    {% include 'includes/navbar.html' %}

    <div class="container">
        {% block crumbarea %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-4">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
{% endblock body %}
{% include 'includes/javascript.html' %}
{% block javascript %}{% endblock %}
</body>
</html>
