{% extends 'base.html' %}
{% block title %}Elo Sıralama Projesi | Formula 1 Türkiye{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item">Elo Sıralama Projesi</li>
{% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tr">Türkçe</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#en">English</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane container show active" id="tr">
                <h2 class="my-3">TARİHİN EN İYİ SIRALAMA TURU PİLOTLARI</h2>
                <p class="text-justify"><strong>Formula 1 Türkiye adminlerinden Onur Arıkan, Alp Umut Kurbay ve Semih
                    Boz'un katkıları ile F1 tarihininin
                    en iyi sıralama turu pilotlarını hazırladık. Aşağıdaki tablodan puanları, sıralamayı ve yıllar
                    içindeki
                    sıralama değişimini görebilirsiniz.</strong></p>
                <h4>Motivasyon</h4>
                <p class="text-justify">Bu projeye başlarken çıkış noktamız F1'deki pilotları en iyi kıyaslayabildiğimiz
                    durum iki pilotun da aynı araca
                    aynı anda sahip olması durumuydu. Kısaca pilotların yıllar içinde aynı araçla kendi takım
                    arkadaşlarına karşı
                    sıralama turlarında kaydettiği skorlara bakarak pilotlara puan kazandıran / kaybettiren bir puanlama
                    sistemi
                    düşündük. Bunun için özellikle satranç turnuvalarında kullanılan, oyuncuların maçtan sonra maçın
                    sonucuna göre
                    puan kazanıp kaybettiği <strong>Elo</strong> sistemini kullandık.</p>
                <h4>Neden Elo?</h4>
                <p class="text-justify">ELO sistemine göre karşılaşan iki oyuncudan puanı yüksek olanın kazanma ihtimali
                    daha yüksek olduğundan maç
                    beklendiği gibi biterse yani puanı yüksek oyuncu kazanırsa bu oyuncu az puan kazanıyor ve karşı
                    taraf da az puan
                    kaybediyor. Ancak maç berabere veya düşük puanlı oyuncunun galibiyeti ile sonuçlanırsa bu
                    beklentinin dışında
                    bir sonuç olduğu için puanı yüksek olan oyuncu kendinden seviye olarak aşağıda olan birine yenildiği
                    için daha
                    çok puan kaybı ile cezalandırılırken , diğer tarafta düşük seviyeli oyuncu kendinden güçlü birini
                    yendiği için
                    çok puan ile ödüllendirilir. Dolayısıyla Hamilton ile berabere kalmak, Stroll'u yenmekten daha büyük
                    bir başarı
                    olacağı için ilk durum daha fazla puan ile ödüllendirilir. Bu da mantığa uygundur.</p>
                <p class="text-justify">Formula 1'de de her sene takım içi rekabet bazı takımlarda yüksek iken
                    bazılarında bir pilot diğerini net şekilde
                    domine eder. Örnek:</p>
                <ul>
                    <li>
                        <p class="text-justify"><strong>2018 Fernando Alonso - Stoffel Vandoorne.</strong> Zaten yılın
                            başında Alonso'nun Vandoorne'u
                            mağlup etmesi beklenen bir durumdu ve Alonso bu sezondan (modele göre) 15 puan kazandı.</p>
                    </li>
                    <li>
                        <p class="text-justify"><strong>2010 Nico Rosberg - Michael Schumacher.</strong> Michael
                            Schumacher, 2006 yılında emekli
                            olduğunda 1890 puanla genel tabloda Ayrton Senna'nın ardından ikinciydi. Nico Rosberg ise o
                            yıla dek
                            F1'de henüz 4 sezon geçirmiş ve 1684 puan elde etmişti. Schumacher, döndüğü zaman, Nico
                            Rosberg'in
                            neredeyse 200 puan önündeyken Nico Rosberg'e 14-5 yenilince Rosberg sadece bu sezondan 93
                            puan kazandı
                            ve Schumacher de 93 puan kaybetti.</p>
                    </li>
                </ul>
                <h4><strong>Puanlama sistemi</strong></h4>
                <p class="text-justify">Formülün kendisinden önce karşılaşmaların sonucuna göre pilotların skor hesabını
                    anlayalım. Satranç
                    turnuvalarında galip gelen 1, kaybeden 0 puan alır ve beraberliklerde 0.5 puan paylaştırılır. Bu
                    skorlar Elo
                    formülünde yerine konulup oyuncunun maç sonundaki toplam puan değişimi hesaplanır.</p>
                <p class="text-justify">Ancak biz Formula 1'de bir sezondaki yarışlarda değişik faktörlerden ötürü bir
                    pilot 21 yarışta diğerini 11-10
                    geride bırakmış olsa bile bu aslında bir galibiyet sayılmaz. Pilotların performansları hemen hemen
                    eşit olarak
                    görülür. Bu yüzden 11-10 yenen ile 21-0 yahut 14-7 yenen pilotları aynı kefeye koyamayız diye
                    düşünüp parçalı
                    puan dağılımı yaptık. Buna göre; eğer pilot bir sezonda takım arkadaşına karşı sıralama
                    turlarının</p>
                <ul>
                    <li>% 0-24'ünü kazandıysa; 0 (domine edilme)</li>
                    <li>%25-40'ini kazandıysa; 0.3 (mağlubiyet)</li>
                    <li>%41-59'unu kazandıysa; 0.5 (berabere)</li>
                    <li>%60-75'ini kazandıysa; 0.7 (galibiyet)</li>
                    <li>%76-100'ünü kazandıysa; 1 (dominasyon)</li>
                </ul>
                <p class="text-justify">skor alıyor. Her sezonu 1 maç gibi düşünürsek oyuncu her maçtan yukarıdaki gibi
                    5 farklı puanı alabiliyor.
                    Örneğin 2003 sezonunda Schumacher, Barrichello'ya sıralama turlarında 10-6 lık üstünlük kurmuştu.
                    MSC 16 yarışın
                    10'unu yani %62.5'ini kazandığı için bu maçın skoru 0.7-0.3 MSC lehine hesaplanıyor.</p>

                <h4><strong>Model: Elo formülü</strong></h4>
                <ul>
                    <li>r1: Kazanan sürücünün önceki puanı</li>
                    <li>r2: Kaybeden sürücünün önceki puanı</li>
                    <li>n1: Kazanan sürücünün eşleşme sonrası yeni puanı</li>
                    <li>n2: Kaybeden sürücünün eşleşme sonrası yeni puanı</li>
                    <li>s: Sıralama turlarındaki üstünlüğe göre yukarda bahsedilen dağılıma göre verilen puan</li>
                    <li>m: Kazanan sürücünün kazanma olasılığı kaybeden sürücünün
                        10 katı olduğunda aralarında olması gereken puan farkı: sabit <strong>400</strong></li>
                    <li>e: 1. sürücünün 2. sürücüyü yenme olasılığı</li>
                    <li>K: Eşleşme başına alınabilecek maksimum puan: Bizim sistemimizde <strong>200</strong></li>
                </ul>
                <p style="text-align: center;"><strong>e: 1 / (1 + (10<sup>r2-r1</sup> / m))</strong></p>
                <p style="text-align: center;"><strong>n1: r1 + K * (s-e)</strong><br/><strong>n2: r2 - K *
                    (s-e)</strong></p>

                <p class="text-justify">1950'den başlayarak her pilotun günümüze kadar seneler içindeki puanı
                    güncellenerek getirilmiş ve 2019 yılı
                    sonuna göre bir sıralama yapılmıştır. Ancak formüle göre her pilotun maç öncesi bir puana sahip
                    olması
                    gerektiğinden her pilotun bazı özelliklerine göre kariyerlerinin ilk yılında belli bir puanla
                    başlamasını uygun
                    gördük. Eğer pilot,</p>

                <ul>
                    <li>dünya şampiyonu ise <strong>1600</strong>,</li>
                    <li>sadece yarış kazanmış bir pilotsa <strong>1500</strong></li>
                    <li>bunların hiçbiri değilse <strong>1400</strong> puan ile kariyerine başlamış gibi düşündük.</li>
                </ul>

                <p class="text-justify">Bu varsayım başta adaletsiz gibi görünse de Elo sisteminin güzelliğinden ötürü,
                    yüksek puanla başlayan pilotlar
                    ilk senelerinde takım arkadaşına karşı kaybedince 100-150 puan kaybediyorlar ve bu avantaj veya
                    dezavantaj
                    sıfırlanmış oluyor. Eğer kazanarak başlarlarsa da yüksek puanlı oldukları için genelde az puan
                    kazanıyorlar ve
                    20-50 puan alarak yine uçuk derecede önde olmuyorlar, hem de hak etttikleri mertebede oluyorlar.</p>
                <p class="text-justify">Bunun haricinde özellikle son 40 yılda takımlar 2'den fazla pilot yarıştırmadığı
                    için her sezon pilotların takım
                    arkadaşına karşı 1 maçı oluyordu ancak 1950 ve 60larda aynı anda 3-4 pilotla yarıştıkları için , bir
                    pilotun
                    birden fazla takım arkadaşı ve birden fazla maçı olmuş oluyordu. Böyle durumlarda Dan Gurney, Fangio
                    gibi
                    isimler az sayıda sezonda yarışsalar da tek sezonda 3-4 maça birden çıkarak elde ettikleri puanlarla
                    yüksek
                    sıralara çıkıyorlardı. Bu nedenle bir pilotun bir sezondaki bütün maçlarının ortalama puanı dikkate
                    alındı.</p>
            </div>
            <div class="tab-pane container fade" id="en">
                <h2 class="my-3">THE BEST QUALIFYING DRIVERS IN THE FORMULA 1 HISTORY</h2>
                <p class="text-justify"><strong>With the contributions of Formula 1 Türkiye admins Onur Arıkan, Alp Umut
                    Kurbay and Semih Boz, we prepared the ranking of the best qualifying drivers in F1 history.
                    In the table below you can see the scores, the ranking and the change over the years.</strong></p>
                <h4>Motivation</h4>
                <p class="text-justify">When we started this project, we decided that we could best compare the drivers
                    in F1 when both drivers had the same car at the same time. In short, we thought of a
                    scoring system that makes drivers gain / lose points by looking at the scores recorded by the pilots
                    in the qualifying rounds against their teammates with the same vehicle over the years. For this, we
                    used the <strong>Elo</strong> system, which is used especially in chess tournaments, where players
                    gain and lose
                    points after the match according to the result of the match.</p>
                <h4>Why Elo System?</h4>
                <p class="text-justify">According to the ELO system, since the player with the higher score has a higher
                    probability of winning, if the match ends as expected, that is, if the player with the higher score
                    wins, this player gains fewer points and the other side loses fewer points. However, if the match
                    ends in a draw or the winner of the lower scorer, the player with the higher score is punished with
                    more points for losing to someone who is lower in level, while the player with the lower score is
                    rewarded with many points for defeating someone stronger than himself. So the first case is
                    rewarded with more points as a draw with Hamilton would be a greater achievement than beating
                    Vandoorne.</p>
                <p class="text-justify">In Formula 1, the intra-team competition is high in some teams, while in others,
                    one driver clearly dominates the other. Examples:</p>
                <ul>
                    <li>
                        <p class="text-justify"><strong>2018 Fernando Alonso - Stoffel Vandoorne.</strong> Already at
                            the beginning of the year, Alonso's defeat of Vandoorne was expected, and Alonso gained 15
                            points from this season (according to the model).</p>
                    </li>
                    <li>
                        <p class="text-justify"><strong>2010 Nico Rosberg - Michael Schumacher.</strong> When Michael
                            Schumacher retired in 2006, he was second behind Ayrton Senna with 1890 points. Nico
                            Rosberg, on the other hand, had only 4 seasons in F1 until that year and had 1684 points.
                            When Schumacher returned, he was almost 200 points ahead of Nico Rosberg and lost 14-5 to
                            Nico Rosberg, with Rosberg gaining 93 points from this season alone and Schumacher losing 93
                            points.</p>
                    </li>
                </ul>
                <h4><strong>Scoring System</strong></h4>
                <p class="text-justify">Before the formula itself, let's understand the score calculation of the drivers
                    according to the result of the matches. In chess tournaments, the winner gets 1 point, the loser
                    gets 0 points, and 0.5 points are shared in the draws. These scores are substituted in the Elo
                    formula and the player's total point change at the end of the match is calculated.</p>
                <p class="text-justify">However, in Formula 1, even if one driver outperforms the other 11-10 in 21
                    races due to various factors in a season, this is not actually a win. The performances of the
                    drivers
                    are seen almost equally. For this reason, we thought that we could not put the drivers who were
                    beaten 11-10 and those who were beaten 21-0 or 14-7 in the same category, so we divided the points.
                    According to this; if the driver is in qualifying against his teammate in a season:</p>
                <ul>
                    <li>If he won 0-24%; 0 (dominated)</li>
                    <li>If he won 25-40%; 0.3 (loss)</li>
                    <li>If he won 41-59%; 0.5 (tie)</li>
                    <li>If he won 60-75%; 0.7 (win)</li>
                    <li>If he won 76-100%; 1 (dominance)</li>
                </ul>
                <p class="text-justify">he gets such scores. If we think of each season as 1 match, the player can get 5
                    different points from each match as above. For example, in the 2003 season, Schumacher had a 10-6
                    advantage over Barrichello in qualifying. Since MSC won 10 of 16 races, 62.5%, the score for this
                    match is calculated in favor of MSC 0.7-0.3.</p>

                <h4><strong>Model: Elo formula</strong></h4>
                <ul>
                    <li>r1: Previous score of the winning driver</li>
                    <li>r2: Previous score of the losing driver</li>
                    <li>n1: The winning driver's new score after match</li>
                    <li>n2: New score of the losing driver after match</li>
                    <li>s: Points awarded according to the above-mentioned distribution according to the superiority in
                        the qualifying rounds
                    </li>
                    <li>m: When the winning driver's probability of winning is 10 times that of the losing driver, the
                        required difference in points: fixed <strong>400</strong></li>
                    <li>e: probability of driver 1 defeating driver 2 (calculated below according to the previous scores
                        of the drivers)
                    </li>
                    <li>K: Maximum points available per match: <strong>200</strong> in our system</li>
                </ul>
                <p style="text-align: center;"><strong>e: 1 / (1 + (10<sup>r2-r1</sup> / m))</strong></p>
                <p style="text-align: center;"><strong>n1: r1 + K * (s-e)</strong><br/><strong>n2: r2 - K *
                    (s-e)</strong></p>

                <p class="text-justify">Starting from 1950, the score of each driver over the years has been updated and
                    a ranking has been made according to the end of 2022. However, since according to the formula, every
                    driver must have a score before the match, we have considered it appropriate for each driver to
                    start
                    with a certain score in the first year of their career, according to some of their
                    characteristics. If the driver</p>

                <ul>
                    <li>is a world champion: <strong>1600</strong>,</li>
                    <li>is only a race winner: <strong>1500</strong></li>
                    <li>is none of these: <strong>1400</strong></li>
                </ul>

                <p class="text-justify">Although this assumption may seem unfair at first, due to the beauty of the Elo
                    system, the drivers who start with high scores lose 100-150 points in their first year when they lose
                    against their teammate, and this advantage or disadvantage is neutralised. If they start by winning, they
                    usually gain few points because they have high points, and by getting 20-50 points, they are still
                    not far ahead, and they are at the level they deserve.</p>
                <p class="text-justify">Apart from this, especially in the last 40 years, since the teams did not race more than 2 drivers,
                    each season the pilots had 1 match against their teammate, but since they were competing with 3-4
                    pilots at the same time in the 1950s and 60s, a driver had more than one teammate and more than one
                    match. In such cases, although drivers such as Dan Gurney and Fangio competed in a small number of
                    seasons, they were able to rise to the top with the points they achieved by playing 3-4 matches in a
                    single season. For this reason, the average score of all matches of a driver in a season was taken
                    into account.</p>
            </div>
        </div>
    </div>
    <iframe height="720" width="1120" allowfullscreen style="border:none;"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSmNESEJceWGGJSWJlsV9YJcyIsCIMX_0m4VNlOYtPmtIx3mAt0WMePiViMfv35qoF0sz8eT45o5Of9/pubhtml"></iframe>


{% endblock %}
{% block javascript %}
    <script>
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#'+url.split('#')[1]+'"]').tab('show') ;
        }

        // With HTML5 history API, we can easily prevent scrolling!
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            if(history.pushState) {
                history.pushState(null, null, e.target.hash);
            } else {
                window.location.hash = e.target.hash; //Polyfill for old browsers
            }
        })
    </script>
{% endblock %}
