{% extends 'base.html' %}
{% block title %}Quiz Night | Formula 1 Türkiye{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
    <li class="breadcrumb-item">Quiz Night</li>
{% endblock %}

{% block content %}
    <h2 class="my-3">QUIZ NIGHT NEDİR?</h2>
    <p class="text-justify">Kısaca oyunu anlatmak gerekirse; Formula 1 Türkiye grup duvarında yaptığımız bir bilgi yarışması. Yorum olarak
        ilk doğru cevabı verenden sona doğru <strong>10 6 4 3 2 1</strong> puan veriyoruz. Her soruya yalnızca 1 defa yanıt verme
        hakkınız var ve yorum değiştirmek yasak. 15 soru sonunda en çok puanı toplayan şampiyon oluyor.</p>
    <p><strong>Örnek Sorular:</strong></p>
    <ul>
        <li>Puan kazanamadan en uzun süre yarışan pilot kimdir?
            <ul>
                <li>
                    Luca Badoer
                </li>
            </ul>
        <li class="text-justify">
            2009 Avustralya Grand Prix'sinde güvenlik aracı arkasında Lewis Hamilton'a takım tarafından Trulli'ye yer
            vermesi söylenmişti. Yarıştan sonra Lewis Hamilton ile beraber hakemlere böyle bir emrin verilmediği
            hakkında yalan söyleyip Trulli'nin diskalifiye olmasına sebep olan ve daha sonra takım radyoları incelenip
            Hamilton ile söylediği yalanlar ortaya çıkınca Hamilton'ın diskalifiye edilmesine sebep olan ve takımdan
            kovulan Mclaren sportif direktörünün adı ve soyadı nedir?
            <ul>
                <li>Dave Ryan</li>
            </ul>
        </li>
        <li>
            Red Bull takımının merkezi hangi kentte bulunmaktadır?
            <ul>
                <li>Milton Keynes</li>
            </ul>
        </li>
    </ul>
    <h4>ŞAMPİYONLAR</h4>
    <ol>
        <li>
            <strong>7/2/2017</strong> Alp Umut Kurbay
        </li>
        <li>
            <strong>25/2/2017</strong> Osman Yıldız
        </li>
        <li>
            <strong>18/3/2017</strong> Onur Arıkan
        </li>
        <li>
            <strong>22/5/2017</strong> Samet Demirel
        </li>
        <li>
            <strong>25/7/2017</strong> Onur Arıkan
        </li>
        <li>
            <strong>11/8/2017</strong> Alp Umut Kurbay
        </li>
        <li>
            <strong>18/10/2017</strong> Berk Topal
        </li>
        <li>
            <strong>5/1/2018</strong> Ayvaz Melih Çakmaklı
        </li>
        <li>
            <strong>25/2/2018</strong> Onur Arıkan
        </li>
        <li>
            <strong>7/6/2018</strong> Onur Arıkan
        </li>
        <li>
            <strong>25/8/2018 </strong>Alp Umut Kurbay
        </li>
        <li>
            <strong>6/10/2019 </strong>Alp Umut Kurbay
        </li>
        <li>
            <strong>15/2/2021</strong> Onur Arıkan
        </li>
        <li>
            <strong>16/5/2021</strong> Altay Gök
        </li>
        <li>
            <strong>6/2/2022</strong> Alp Umut Kurbay
        </li>
    </ol>
{% endblock %}
